{% extends 'base.html.twig' %}

{% block title %} 404 - Halaman tidak ditemukan! {% endblock %}

{% block pageTitle %} 404 Error {% endblock %}

{% block breadcrumb %}
<li class="active">404 Error</li>
{% endblock %}

{% block content %}
<div class="error-page">
<h2 class="headline text-yellow"> 404</h2>

<div class="error-content">
  <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

  <p>
    We could not find the page you were looking for.
    Meanwhile, you may <a href="index.php">return to dashboard</a> or try using the search form.
  </p>

  <form class="search-form">
    <div class="input-group">
      <input type="text" name="search" class="form-control" placeholder="Search">

      <div class="input-group-btn">
        <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <!-- /.input-group -->
  </form>
</div>
<!-- /.error-content -->
</div>
<!-- /.error-page -->
{% endblock %}