{% extends "base_print_responsive.html.twig" %}

{% block content %}
{% set siswa = data.siswa %}

<div class="entry-cetak-wrap">
	
<table class="table">
		<tr>
			<td colspan="2">
				<table class="table">
						<thead>
							<tr>
								<th><img src="uploads/{{ (option('logo_image') is not empty) ? option('logo_image') : 'logo.png' }}" width="120" height="120"></th>
								<th style="vertical-align:top">
									<h3>
										LAPORAN PEMBAYARAN SISWA
										<br>{{ option('nama_sekolah')|upper }} TH PELAJARAN {{ option('tahun_ajaran')|upper }}
									</h3>
								</th>
							</tr>
						</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table no-border">
					<tr>
						<th width="100">Nama Siswa:</th>
						<td>{{ siswa.nama }}</td>
					</tr>
					<tr>
						<th width="100">Kelas:</th>
						<td>
							{% set kelas = app.getKelas(siswa.id_kelas) %}
							{{ kelas.nama_kelas }}
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Tgl Bayar</th>
							<th>No. Transaksi</th>
							<th>No. Induk</th>
							<th>Siswa</th>
							<th>Kelas</th>
							<th>Th. Ajaran</th>
							<th>Pembayaran</th>
							<th>Bulan</th>
							<th>Jumlah</th>
						</tr>
					</thead>
					{% set no = 1 %}
					{% set total = 0 %}
					<tbody>
						{% for td in data.results %}
						<tr>
							<td>{{ no }}</td>
							<td>{{ td.tanggal|date('d/m/Y') }}</td>
							<td>{{ printNoTransaksi(td.id_transaksi) }}</td>
							<td>{{ siswa.nis }}</td>
							<td>{{ siswa.nama }}</td>
							<td>{{ siswa.kelas.nama_kelas }}</td>
							<td>{{ option('tahun_ajaran') }}</td>
							<td>{{ td.pembayaran.nama }}</td>
							<td>{{ td.bulan_ke }}</td>
							<td align="right">{{ price(td.jumlah) }}</td>
						</tr>
						{% set no = no+1 %}
						{% set total = total+td.jumlah %}
						{% endfor %}

					</tbody>
					<tfoot>
						<tr>
							<th class="text-right" colspan="9">Total</th>
							<th class="text-right">{{ price(total) }}</th>
						</tr>
					</tfoot>
				</table>
			</td>
		</tr>
</table>
	
</div>

{% endblock %}