{% extends "base_print_responsive.html.twig" %}

{% block content %}

<div class="entry-cetak-wrap">
	
<table class="table">
		<tr>
			<td colspan="2">
				<table class="table">
						<thead>
							<tr>
								<th><img src="uploads/{{ (option('logo_image') is not empty) ? option('logo_image') : 'logo.png' }}" width="120" height="120"></th>
								<th style="vertical-align:top">
									<h3>
										DATA SISWA
										{% if kelas is defined %}
										KELAS {{ kelas.nama_kelas|upper }}
										{% endif %}
										<br>{{ option('nama_sekolah')|upper }} TH PELAJARAN {{ option('tahun_ajaran')|upper }}
									</h3>
								</th>
							</tr>
						</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table">
					<thead>
						<tr>
							<th>No</th>
							<th>Nama</th>
							<th>Kelas</th>
							<th>TTL</th>
							<th>L/P</th>
							<th>Agama</th>
							<th>No Telpon</th>
						</tr>
					</thead>
						<tbody>
							{% set no = 1 %}
							{% for td in data.results %}
							<tr>
								<td>{{ no }}</td>
								<td>{{ td.nama }}</td>
								<td>
									{% set kelas = app.getKelas(td.id_kelas) %}
									{{ ( kelas != false ) ? kelas.nama_kelas : '' }}
								</td>
								<td>{{ (td.tpt_lahir is not empty) ? td.tpt_lahir~',' : '' }} {{ (td.tgl_lahir is not null) ? td.tgl_lahir|date('d/m/Y') : '' }}</td>
								<td>{{ td.jk }}</td>
								<td>{{ td.agama }}</td>
								<td>{{ td.no_hp }}</td>
							</tr>
							{% set no = no+1 %}
							{% endfor %}
						</tbody>
				</table>
			</td>
		</tr>
</table>
	
</div>

{% endblock %}