{% extends "base_print_responsive.html.twig" %}

{% block content %}
{% set kelas = app.getKelas(data.query.id_kelas) %}

<div class="entry-cetak-wrap">
	
<table class="table">
		<tr>
			<td colspan="2">
				<table class="table">
						<thead>
							<tr>
								<th><img src="uploads/{{ (option('logo_image') is not empty) ? option('logo_image') : 'logo.png' }}" width="120" height="120"></th>
								<th style="vertical-align:top">
									<h3>
										LAPORAN TAGIHAN SISWA KELAS {{ kelas.nama_kelas|upper }}
										<br>{{ option('nama_sekolah')|upper }} TH PELAJARAN {{ option('tahun_ajaran')|upper }}
									</h3>
								</th>
							</tr>
						</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>No</th>
							<th>No. Induk</th>
							<th>Siswa</th>
							{#<th>Kelas</th>#}
							<th>Th. Ajaran</th>
							<th>Pembayaran</th>
							<th>Bulan</th>
							<th class="text-center">Jumlah</th>
						</tr>
					</thead>
					{% set no = 1 %}
					{% set total = 0 %}
					<tbody>
						{% for td in data.results %}
						<tr>
							<td>{{ no }}</td>
							<td>{{ td.nis }}</td>
							<td>{{ td.nama }}</td>
							{#<td>{{ td.kelas.nama_kelas }}</td>#}
							<td>{{ option('tahun_ajaran') }}</td>
							<td>{{ td.pembayaran.nama }}</td>
							<td>{{ td.bulan_ke }}</td>
							<td align="right">{{ price(td.pembayaran.custom_1) }}</td>
						</tr>
						{% set no = no+1 %}
						{% set total = total+td.pembayaran.custom_1 %}
						{% endfor %}

					</tbody>
					<tfoot>
						<tr>
							<th class="text-right" colspan="6">Total</th>
							<th class="text-right">{{ price(total) }}</th>
						</tr>
					</tfoot>
				</table>
			</td>
		</tr>
</table>
	
</div>

{% endblock %}