{% extends "base_print_responsive.html.twig" %}

{% block content %}

<style type="text/css">
	.entry-cetak-wrap {
		width: 65%;
		margin: 0 auto;
	}
	.entry-cetak-wrap .table th, .entry-cetak-wrap .table td {
		vertical-align: middle;
	}
	.entry-cetak-wrap .table .table tbody tr td:first-child {
		font-weight: bold;
		width: 200px;
	}
</style>

<div class="entry-cetak-wrap">
	
<table class="table table-bordered">
		<tr>
			<td colspan="2">
				<table class="table">
						<thead>
							<tr>
								<th><img src="uploads/{{ (option('logo_image') is not empty) ? option('logo_image') : 'logo.png' }}" width="120" height="120"></th>
								<th style="vertical-align:top">
									<h3>
										BUKTI BAYAR {{ term.nama|replace({'Pembayaran ': ''})|upper }} KELAS {{ kelas.nama_kelas|upper }}
										<br>MAN KENDAL TH PELAJARAN 2017/2018
									</h3>
								</th>
							</tr>
						</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table">
						<tbody>
							<tr>
								<td>Tanggal</td>
								<td width="1">:</td>
								<td colspan="3">{{ request.tanggal|date('d/m/Y') }}</td>
							</tr>
							<tr>
								<td>Nama</td>
								<td>:</td>
								<td colspan="3">{{ siswa.nama }}</td>
							</tr>
							<tr>
								<td>Kelas</td>
								<td>:</td>
								<td width="200">{{ kelas.nama_kelas }}</td>
								<td width="100">No. urut:</td>
								<td>{{ "%06d"|format(request.id_transaksi) }}</td>
							</tr>
							<tr>
								<td>{{ term.nama }} Bulan</td>
								<td>:</td>
								<td colspan="3">{{ request.bulan_ke }}</td>
							</tr>
							<tr>
								<td>Jumlah</td>
								<td>:</td>
								<td colspan="3">{{ price( request.jumlah ) }}</td>
							</tr>
						</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				Siswa
				<br><br>
				{{ siswa.nama }}
			</td>
			<td align="center">
				Petugas {{ term.nama }}
				<br><br>
				<strong>{{ printNamaUser(term.ket) }}</strong>
			</td>
		</tr>
</table>
	
</div>

{% endblock %}