{% extends "base_print_responsive.html.twig" %}

{% block content %}
{% set kelas = app.getKelas(data.query.id_kelas) %}

<div class="entry-cetak-wrap">
	
<table class="table">
		<tr>
			<td colspan="2">
				<table class="table">
						<thead>
							<tr>
								<th><img src="uploads/{{ (option('logo_image') is not empty) ? option('logo_image') : 'logo.png' }}" width="120" height="120"></th>
								<th style="vertical-align:top">
									<h3>
										LAPORAN KEUANGAN
										<br>{{ option('nama_sekolah')|upper }} TH PELAJARAN {{ option('tahun_ajaran')|upper }}
									</h3>
								</th>
							</tr>
						</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Tgl Bayar</th>
							<th>No. Transaksi</th>
							<th>Jenis Transaksi</th>
							<th>Keterangan</th>
							<th>Kas</th>
							<th class="text-center">Jumlah</th>
						</tr>
					</thead>
					{% set no = 1 %}
					{% set total = 0 %}
					<tbody>
						{% set siswa = data.siswa %}
						{% for td in data.results %}
						<tr>
							<td>{{ no }}</td>
							<td>{{ td.tanggal|date('d/m/Y') }}</td>
							<td>{{ printNoTransaksi(td.id) }}</td>
							<td><i class="fa fa-arrow-circle-{{ (td.jenis == 'credit') ? 'o-down' : 'up' }}"></i> {{ (td.jenis == 'credit') ? 'Pembayaran' : 'Pengeluaran' }}</td>
							<td>{{ td.pembayaran.nama }}</td>
							<td>{{ td.kas.nama_akun }}</td>
							<td align="right"><span class="text-{{ (td.jenis == 'credit') ? 'green' : 'red' }}">{{ price(td.jumlah) }}</span></td>
						</tr>
						{% set no = no+1 %}
							{% if td.jenis == 'credit' %}
								{% set total = total+td.jumlah %}
							{% elseif td.jenis == 'debet' %}
								{% set total = total-td.jumlah %}
							{% endif %}
						{% endfor %}

					</tbody>
					<tfoot>
						<tr>
							<th class="text-right" colspan="6">Total</th>
							<th class="text-right">{{ price(total) }}</th>
						</tr>
					</tfoot>
				</table>
			</td>
		</tr>
</table>
	
</div>

{% endblock %}