{% extends "base.html.twig" %}

{% block title %} Dashboard {% endblock %}

{% block content %} 
<div class="box no-border">
	<div class="box-body">
		<div class="row">
			<div class="col-sm-2 col-md-3">
				<img src="uploads/{{ (option('logo_image') is not empty) ? option('logo_image') : 'logo.png' }}" alt=" " class="img-responsive">
			</div>
			<div class="col-sm-10 col-md-9">
				<h2>Selamat datang, <strong>{{ app.user.nama }}</strong>...</h2>
				<p>{{ option('app_description') }}</p>
			</div>
		</div>
	</div>
</div>

{#
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{ stat.paket_soal.count }}</h3>

        <p>Paket Soal</p>
      </div>
      <div class="icon">
        <i class="fa fa-tags"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3>{{ stat.soal.count }}</h3>

        <p>Jumlah Soal</p>
      </div>
      <div class="icon">
        <i class="fa fa-file-o"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3>{{ stat.users.count }}</h3>

        <p>Total Peserta</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h3>{{ stat.admins.count }}</h3>

        <p>Admin/Staf</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>
#}
<!-- /.row -->
{% endblock %}