{% extends "base.html.twig" %}

{% block title %} Data Kas {% endblock %}

{% block content %} 
<!-- Default box -->
<div class="box">
	<div class="box-header">
		<a href="kas.php?aksi=edit" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
	</div>
  <div class="box-body">
		<p>
			Kas adalah lokasi/akun/tempat dimana dana transaksi (pendapatan & pengeluaran) tersimpan.
		</p>
    <table id="datatable1" class="table table-responsive table-hover">
      <thead>
        <tr>
					<th>&nbsp;</th>
          <th>Jenis Kas</th>
          <th>Nama Akun</th>
          <th>Saldo Awal</th>
          <th>Keterangan</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for td in data %}
        <tr>
					<td align="center" width="20"></td>
          <td>{{ td.jenis }}</td>
          <td>{{ td.nama_akun }}</td>
          <td>{{ price(td.saldo_awal) }}</td>
          <td>{{ td.keterangan }}</td>
					<td width="100" align="center">
						<a href="kas.php?aksi=edit&id={{ td.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
						<a href="#" class="tombol-hapus btn btn-danger btn-sm" data-content="Hapus kas?" data-table="kas" data-return="kas.php" data-id="{{ td.id }}" title="Hapus"><i class="fa fa-trash"></i></a>
					</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}