{% extends "base.html.twig" %}

{% block title %} Tambah/Edit Data Kas {% endblock %}

{% block content %} 
<form action="" method="post">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Jenis Kas</label>
          <div class="col-sm-5">
            <select name="jenis" class="form-control" required>
							<option value="">-- Pilih --</option>
							<option value="Akun Bank" {{ (request.jenis == 'Akun Bank') ? 'selected' : '' }}>Akun Bank</option>
							<option value="Akun Kas" {{ (request.jenis == 'Akun Kas') ? 'selected' : '' }}>Akun Kas</option>
							<option value="Akun Lainnya" {{ (request.jenis == 'Akun Lainnya') ? 'selected' : '' }}>Akun Lainnya</option>
						</select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Nama Akun</label>
          <div class="col-sm-4">
            <input type="text" name="nama_akun" class="form-control" value="{{ request.nama_akun }}" placeholder="Contoh: Bank BRI" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Saldo Awal</label>
          <div class="col-sm-4">
            <input type="number" name="saldo_awal" class="form-control" value="{{ request.saldo_awal }}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Tanggal</label>
          <div class="col-sm-4">
            <input type="text" name="tanggal" class="form-control datepicker" value="{{ request.tanggal }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Keterangan</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="keterangan">{{ request.keterangan }}</textarea>
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-primary" type="submit">Simpan</button>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"></div>
  </div>
</form>
<!-- /.box -->
{% endblock %}