{% extends "base.html.twig" %}

{% block title %} Pengeluaran {% endblock %}

{% block content %} 
<!-- Default box -->
<div class="box">
	<div class="box-header">
		<a href="kas.php?aksi=pengeluaran_edit" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Tambah Entry Pengeluaran</a>
	</div>
  <div class="box-body">
    <table id="datatable1" {#data-order="[[ 2, &quot;asc&quot; ]]"#} class="table table-responsive table-hover">
      <thead>
        <tr>
					<th>&nbsp;</th>
          <th>Tanggal</th>
          <th>Jenis Pengeluaran</th>
          <th>Jumlah</th>
          <th>Keterangan</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for td in data %}
        <tr>
					<td align="center" width="20"></td>
          <td>{{ td.tanggal|date('d/m/Y') }}</td>
          <td>{{ app.getMasterNamaTerm(td.id_jenis_pengeluaran) }}</td>
          <td>{{ price(td.jumlah) }}</td>
          <td>{{ td.ket }}</td>
					<td width="150" align="center">
						<a href="kas.php?aksi=pengeluaran_edit&id={{ td.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
						<a href="#" class="tombol-hapus btn btn-danger btn-sm" data-content="Hapus entry?" data-table="pengeluaran" data-return="kas.php?aksi=pengeluaran" data-id="{{ td.id }}" title="Hapus"><i class="fa fa-trash"></i></a>
					</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}
