{% extends "base.html.twig" %}

{% block title %} Tambah/Edit Pengeluaran {% endblock %}

{% block head %}
<link rel="stylesheet" href="assets/plugins/datetimepicker/jquery.datetimepicker.css">
{% endblock %}

{% block content %} 
<form action="" method="post">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Tanggal</label>
          <div class="col-sm-4">
            <input type="text" name="tanggal" class="datepicker form-control" value="{{ (request.tanggal is not empty) ? request.tanggal : 'now'|date('Y-m-d') }}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Jenis Pengeluaran</label>
          <div class="col-sm-5">
            <select name="id_jenis_pengeluaran" class="form-control" required>
							<option value=""></option>
							{% for jp in jenis_pengeluaran %}
							<option value="{{ jp.id }}" {{ (request.id_jenis_pengeluaran == jp.id) ? 'selected' : '' }}>{{ jp.nama }}</option>
							{% endfor %}
						</select>
						<span class="help-block"><a href="index.php?_uri=master&term=jenis_pengeluaran">Tambah jenis pengeluaran disini</a></span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Jumlah</label>
          <div class="col-sm-4">
            <input type="number" name="jumlah" class="form-control" value="{{ request.jumlah }}" min="1000" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Kas</label>
          <div class="col-sm-4">
            <select name="id_kas" class="form-control" required>
							<option value=""></option>
							{% for kas in akun_kas %}
							<option value="{{ kas.id }}" {{ (request.id_kas == kas.id) ? 'selected' : '' }}>{{ kas.nama_akun }}</option>
							{% endfor %}
						</select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Keterangan</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="ket">{{ request.ket }}</textarea>
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-primary" name="submit-pengeluaran" type="submit">Simpan</button>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"></div>
  </div>
</form>
<!-- /.box -->
{% endblock %}

{% block js %}
<!-- bootstrap datepicker -->
<script src="assets/plugins/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<!-- Page script -->
<script>
  $(function () {
		jQuery.datetimepicker.setLocale('id');
		jQuery('.dtpicker').datetimepicker({
			format:'Y-m-d H:i'
		});
		
		$('.js-data-ajax').select2({
			ajax: {
				url: "_ajax.php?_type=query",
				dataType: 'json',
				delay: 250,
				data: function (params) {
					return {
						term: params.term,
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					// parse the results into the format expected by Select2
					// since we are using custom formatting functions we do not need to
					// alter the remote JSON data, except to indicate that infinite
					// scrolling can be used
					params.page = params.page || 1;

					return {
						results: data.items,
						pagination: {
							more: (params.page * 30) < data.total_count
						}
					};
				},
				cache: true
			},
			placeholder: 'Cari Siswa',
			escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
			minimumInputLength: 1,
			templateResult: formatRepo,
			templateSelection: formatRepoSelection
		});
	});
</script>
<script>
function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }

  var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

  if (repo.description) {
    markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
  }

  markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
    "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
    "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
  "</div>" +
  "</div></div>";

  return markup;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}
</script>
{% endblock %}