{% extends "base.html.twig" %}

{% block title %} Data Kelas {% endblock %}

{% block content %} 
<!-- Default box -->
<div class="box">

  <div class="box-header">
    <a href="kelas.php?aksi=edit" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
  </div>
  <div class="box-body">
    <table id="datatable1" class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Nama Kelas</th>
          <th>Jumlah Siswa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for td in data %}
        <tr>
          <td width="20" align="center"></td>
          <td>{{ td.nama_kelas }}</td>
          <td>{{ getJumlahSiswa(td.id) }}</td>
          <td width="100" align="center">
            <a href="kelas.php?aksi=edit&id={{ td.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
            <a href="#" class="tombol-hapus btn btn-danger btn-sm" data-content="Hapus kelas?" data-table="kelas" data-return="kelas.php" data-id="{{ td.id }}" title="Hapus"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<!-- /.box -->
{% endblock %}