{% extends "base.html.twig" %}

{% block title %} Tambah Kelas {% endblock %}

{% block head %}
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="assets/plugins/iCheck/all.css">
<link rel="stylesheet" href="assets/plugins/iCheck/minimal/red.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="assets/plugins/datetimepicker/jquery.datetimepicker.css">
<link href="../assets/plugins/dependent-dropdown/css/dependent-dropdown.min.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %} 

{% if notify is defined %}

<div class="alert alert-{{ notify[0] }}">
  <p>{{ notify[1]|raw }}</p>
</div>

{% endif %}

<form action="" method="post">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <div class="form-horizontal">

        <div class="form-group">
          <label class="control-label col-sm-3">Nama Kelas</label>
          <div class="col-sm-6">
            <input type="text" name="nama_kelas" class="form-control" value="{{ request.nama_kelas }}" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-3">Keterangan</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="keterangan">{{ request.keterangan }}</textarea>
          </div>
        </div>

        <div class="col-sm-offset-3 col-sm-9">
          <input type="hidden" name="id" value="{{ request.id }}">
          <button class="btn btn-primary" type="submit">Simpan</button>
        </div>

      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"></div>
  </div>
</form>
<!-- /.box -->
{% endblock %}

{% block script %}
<!-- iCheck 1.0.1 -->
<script src="assets/plugins/iCheck/icheck.min.js"></script>
<!-- bootstrap datepicker -->
<script src="assets/plugins/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<!-- Page script -->
<script>
  $(function () {
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
  });

  jQuery.datetimepicker.setLocale('id');

  jQuery('.dtpicker').datetimepicker({
    timepicker: false,
    format:'d-m-Y'
  });
</script>
<!-- CK Editor -->
<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>
<script src="../assets/plugins/dependent-dropdown/js/dependent-dropdown.min.js" type="text/javascript"></script>
<!-- optionally if you need translation for your language then include locale file as mentioned below -->
<script src="../assets/plugins/dependent-dropdown/js/depdrop_locale_id.js"></script>
<script>
    // Child # 1
    $("#kota").depdrop({
        url: '../__getcity.php',
        depends: ['provinsi']
    });
</script>
{% endblock %}