{% extends "base.html.twig" %}

{% block title %} Laporan Pendapatan {% endblock %}

{% block breadcrumb %} 
<li class="active">Edit User</li>
{% endblock %}

{% block content %} 
<form action="" method="post">
	<div class="box no-border">
<!-- 		<div class="box-header with-border">
			<button data-widget="collapse" class="btn btn-info btn-sm" type="button" id="export-btn">
				<i class="fa fa-refresh" style="display:none"></i> Filter
			</button>
		</div> -->
		<div class="box-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Jenis Laporan</label>
							<select id="jenis_laporan" name="jenis_laporan" class="form-control">
								<option value="harian" {{ ( request.jenis_laporan == 'harian' ) ? 'selected' : '' }}>Harian</option>
								<option value="mingguan" {{ ( request.jenis_laporan == 'mingguan' ) ? 'selected' : '' }}>Mingguan</option>
								<option value="bulanan" {{ ( request.jenis_laporan == 'bulanan' ) ? 'selected' : '' }}>Bulanan</option>
							</select>
						</div>
						<div class="form-group">
							<label>Jenis Pendapatan</label>
							<select name="jenis_pendapatan" class="form-control">
								{% for jp in jenis_pendapatan %}
								<option value="{{ jp.id }}" {{ ( jp.id == request.jenis_pendapatan ) ? 'selected' : '' }}>{{ jp.nama }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="laporan-harian" class="jenis-laporan-fields" style="display:{{ (target_filter == 'harian') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Dari Tanggal</label>
								<input type="text" name="tgl_mulai" value="{{ (request.tgl_mulai is not empty) ? request.tgl_mulai : 'now'|date('Y-m-d') }}" class="form-control datepicker">
							</div>
							<div class="form-group">
								<label>Sampai Tanggal</label>
								<input type="text" name="tgl_akhir" value="{{ (request.tgl_akhir is not empty) ? request.tgl_akhir : 'now'|date('Y-m-d') }}" class="form-control datepicker">
							</div>
						</div>
						<div id="laporan-mingguan" class="jenis-laporan-fields" style="display:{{ (target_filter == 'mingguan') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun_mingguan" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun_mingguan == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Bulan</label>
								<select name="bulan_mingguan" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_mingguan == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div id="laporan-bulanan" class="jenis-laporan-fields" style="display:{{ (target_filter == 'bulanan') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun_bulanan" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun_bulanan == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Mulai Bulan</label>
								<select name="bulan_mulai" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_mulai == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Sampai Bulan</label>
								<select name="bulan_akhir" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_akhir == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="box-footer">
			<button type="submit" name="submit-laporan" class="btn btn-primary">
				Lihat laporan
			</button>
		</div>
	</div>
</form>
	
{% if data_laporan is defined %}

	{% include "partials/report_"~request.jenis_laporan~".html.twig" %}

{% else %}

	{# include "partials/report_all.html.twig" #}

{% endif %}

{% endblock %}

{% block js %}

<script>
	$("#jenis_laporan").on( 'change', function(){
		$(".jenis-laporan-fields").hide(0);
		if( this.value == 'bulanan' ) {
			$("#laporan-bulanan").show();
		} else if( this.value == 'mingguan' ) {
			$("#laporan-mingguan").show();
		} else {
			$("#laporan-harian").show();
		}
	});
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['bar']});
	google.charts.setOnLoadCallback(drawStuff);

	function drawStuff() {
		var data = new google.visualization.arrayToDataTable({{ data.chart_data.rows|raw }});

		var options = {
			width: 800,
			chart: {
				title: 'Nearby galaxies',
				subtitle: 'distance on the left, brightness on the right'
			},
			bars: 'horizontal', // Required for Material Bar Charts.
			series: {
				0: { axis: 'distance' }, // Bind series 0 to an axis named 'distance'.
				1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
			},
			axes: {
				x: {
					distance: {label: 'parsecs'}, // Bottom x-axis.
					brightness: {side: 'top', label: 'apparent magnitude'} // Top x-axis.
				}
			}
		};

	var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
	chart.draw(data, options);
};
</script>

{% endblock %}