{% extends "base.html.twig" %}

{% block title %} Laporan Keuangan {% endblock %}

{% block breadcrumb %} 
<li class="active">Edit User</li>
{% endblock %}

{% block content %} 
<form action="" method="post">
	<div class="box">
		<div class="box-header"></div>
		<div class="box-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Jenis Laporan</label>
							<select id="jenis_laporan" name="jenis_laporan" class="form-control">
								<option value="harian" {{ ( request.jenis_laporan == 'harian' ) ? 'selected' : '' }}>Harian</option>
								{#<option value="mingguan" {{ ( request.jenis_laporan == 'mingguan' ) ? 'selected' : '' }}>Mingguan</option>#}
								<option value="bulanan" {{ ( request.jenis_laporan == 'bulanan' ) ? 'selected' : '' }}>Bulanan</option>
							</select>
						</div>
						<div class="form-group">
							<label>Jenis Transaksi</label>
							<select id="jenis_transaksi" name="jenis_transaksi" class="form-control">
								<option value="">--</option>
								<option value="credit" {{ ( 'credit' == request.jenis_transaksi ) ? 'selected' : '' }}>Pembayaran</option>
								<option value="debet" {{ ( 'debet' == request.jenis_transaksi ) ? 'selected' : '' }}>Pengeluaran</option>
							</select>
						</div>
						<div id="jenis_pendapatan" class="form-group" style="display:{{ ( 'credit' == request.jenis_transaksi ) ? 'block' : 'none' }}">
							<label>Jenis Pembayaran</label>
							<select name="id_jenis_pendapatan" class="form-control">
								{% for jp in jenis_pendapatan %}
								<option value="{{ jp.id }}" {{ ( jp.id == request.id_jenis_pendapatan ) ? 'selected' : '' }}>{{ jp.nama }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="laporan-harian" class="jenis-laporan-fields" style="display:{{ (target_filter == 'harian') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Dari Tanggal</label>
								<input type="text" name="tgl_mulai" value="{{ (request.tgl_mulai is not empty) ? request.tgl_mulai : 'now'|date('Y-m-d') }}" class="form-control datepicker">
							</div>
							<div class="form-group">
								<label>Sampai Tanggal</label>
								<input type="text" name="tgl_akhir" value="{{ (request.tgl_akhir is not empty) ? request.tgl_akhir : 'now'|date('Y-m-d') }}" class="form-control datepicker">
							</div>
						</div>
						<div id="laporan-mingguan" class="jenis-laporan-fields" style="display:{{ (target_filter == 'mingguan') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun_mingguan" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun_mingguan == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Bulan</label>
								<select name="bulan_mingguan" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_mingguan == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div id="laporan-bulanan" class="jenis-laporan-fields" style="display:{{ (target_filter == 'bulanan') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Mulai Bulan</label>
								<select name="bulan_mulai" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_mulai == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Sampai Bulan</label>
								<select name="bulan_akhir" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_akhir == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="box-footer">
			<button type="submit" name="submit-laporan-keuangan" class="btn btn-primary">
				Lihat laporan
			</button>
		</div>
	</div>
</form>
	

{% if all is defined %}

	{% include "partials/report_kas_all.html.twig" %}

{% else %}

	{% include "partials/report_kas_filter.html.twig" %}

{% endif %}


{% endblock %}

{% block js %}

<script>
	$("#jenis_laporan").on( 'change', function(){
		$(".jenis-laporan-fields").hide(0);
		if( this.value == 'bulanan' ) {
			$("#laporan-bulanan").show();
		} else if( this.value == 'mingguan' ) {
			$("#laporan-mingguan").show();
		} else {
			$("#laporan-harian").show();
		}
	});
	$("#jenis_transaksi").on( 'change', function(){
		if( this.value == 'credit' ) {
			$("#jenis_pendapatan").show();
		} else {
			$("#jenis_pendapatan").hide();
		}
	});
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	// Load the Visualization API and the corechart package.
	google.charts.load('current', {'packages':['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChart);

	// Callback that creates and populates a data table,
	// instantiates the pie chart, passes in the data and
	// draws it.
	function drawChart() {

		// Create the data table.
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Topping');
		data.addColumn('number', 'Slices');
		data.addRows([
			['Mushrooms', 3],
			['Onions', 1],
			['Olives', 1],
			['Zucchini', 1],
			['Pepperoni', 2]
		]);

		// Set chart options
		var options = {'title':'How Much Pizza I Ate Last Night',
									 'width':400,
									 'height':300};

		// Instantiate and draw our chart, passing in some options.
		var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>
{% endblock %}