{% extends "base.html.twig" %}

{% block title %} Laporan {% endblock %}

{% block breadcrumb %} 
<li class="active">Edit User</li>
{% endblock %}

{% block content %} 

<div class="box">
	<div class="box-header"></div>
	<div class="box-body">
		<form action="" method="post">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Jenis Laporan</label>
						<select class="form-control">
							<option value="periode">Periode</option>
							<option value="harian">Harian</option>
							<option value="mingguan">Mingguan</option>
							<option value="bulanan">Bulanan</option>
						</select>
					</div>
					<div class="form-group">
						<label>Jenis Pendapatan</label>
						<select class="form-control" multiple>
							{% for jp in jenis_pendapatan %}
							<option value="{{ jp.id }}">{{ jp.nama }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="laporan-harian">
						<div class="form-group">
							<label>Dari Tanggal</label>
							<input type="text" name="" value="" class="form-control">
						</div>
						<div class="form-group">
							<label>Sampai Tanggal</label>
							<input type="text" name="" value="" class="form-control">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="box-footer"></div>
</div>

<form action="" method="post">	
	
	<div class="row">
		<div class="col-md-12">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#profile" data-toggle="tab">Table</a></li>
					<li><a href="#nilai" data-toggle="tab">Grafik</a></li>
				</ul>
				<div class="tab-content">
					<div class="active tab-pane" id="profile">

						<table class="table">
							<thead>
								<tr>
									<th>Tanggal</th>
									<th></th>
								</tr>
							</thead>
						</table>
						
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="nilai">

						<div id="chart_div"></div>
						
						
					</div>
					<!-- /.tab-pane --> 
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- /.nav-tabs-custom -->
		</div>
	</div>
</form>
<!-- /.box -->
{% endblock %}

{% block js %}

<!-- bootstrap datepicker -->
<script src="assets/plugins/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<!-- Page script -->
<script>
  $(function () {
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass: 'iradio_minimal-red'
    });
  });

  jQuery.datetimepicker.setLocale('id');

  jQuery('.dtpicker').datetimepicker({
    timepicker: false,
    format:'d-m-Y'
  });
</script>
<!-- CK Editor -->
<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
  });
</script>
<script src="../assets/plugins/dependent-dropdown/js/dependent-dropdown.min.js" type="text/javascript"></script>
<!-- optionally if you need translation for your language then include locale file as mentioned below -->
<script src="../assets/plugins/dependent-dropdown/js/depdrop_locale_id.js"></script>
<script>
    // Child # 1
    $("#kota").depdrop({
        url: '../__getcity.php',
        depends: ['provinsi']
    });
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	// Load the Visualization API and the corechart package.
	google.charts.load('current', {'packages':['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChart);

	// Callback that creates and populates a data table,
	// instantiates the pie chart, passes in the data and
	// draws it.
	function drawChart() {

		// Create the data table.
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Topping');
		data.addColumn('number', 'Slices');
		data.addRows([
			['Mushrooms', 3],
			['Onions', 1],
			['Olives', 1],
			['Zucchini', 1],
			['Pepperoni', 2]
		]);

		// Set chart options
		var options = {'title':'How Much Pizza I Ate Last Night',
									 'width':400,
									 'height':300};

		// Instantiate and draw our chart, passing in some options.
		var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>
{% endblock %}