{% extends "base.html.twig" %}

{% block title %} Laporan Tagihan {% endblock %}

{% block content %} 
<form action="" method="post">
	<div class="box">
		<div class="box-header"></div>
		<div class="box-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Kelas</label>
							<select name="id_kelas" class="form-control" required>
								{% for kelas in dataKelas.results %}
								<option value="{{ kelas.id }}">{{ kelas.nama_kelas }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label>Jenis Pembayaran</label>
							<select name="id_jenis_pendapatan" class="form-control">
								{% for jp in jenis_pendapatan %}
								<option value="{{ jp.id }}" {{ ( jp.id in request.id_jenis_pendapatan ) ? 'selected' : '' }}>{{ jp.nama }}</option>
								{% endfor %}
							</select>
						</div>

					</div>
					<div class="col-sm-6">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
					</div>
				</div>
		</div>
		<div class="box-footer">
			<button type="submit" name="submit-laporan-tagihan" class="btn btn-primary">
				Lihat laporan
			</button>
		</div>
	</div>
</form>
	
{% if data is defined %}
<div class="box">
	<div class="box-header">
		<h3 class="box-title"></h3>
		<div class="pull-right">
			<a href="cetak.php?aksi=tagihan_siswa&id_kelas={{ request.id_kelas }}&id_jenis_pendapatan={{ request.id_jenis_pendapatan }}&tahun={{ request.tahun }}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-print"></i> Print</a>
		</div>
	</div>
	<div class="box-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>No</th>
					<th>No. Induk</th>
					<th>Siswa</th>
					{#<th>Kelas</th>#}
					<th>Th. Ajaran</th>
					<th>Pembayaran</th>
					<th>Bulan</th>
					<th class="text-center">Jumlah</th>
				</tr>
			</thead>
			{% set no = 1 %}
			{% set total = 0 %}
			<tbody>
				{% for td in data.results %}
				<tr>
					<td>{{ no }}</td>
					<td>{{ td.nis }}</td>
					<td>{{ td.nama }}</td>
					{#<td>{{ td.kelas.nama_kelas }}</td>#}
					<td>{{ option('tahun_ajaran') }}</td>
					<td>{{ td.pembayaran.nama }}</td>
					<td>{{ td.bulan_ke }}</td>
					<td align="right">{{ price(td.pembayaran.custom_1) }}</td>
				</tr>
				{% set no = no+1 %}
				{% set total = total+td.pembayaran.custom_1 %}
				{% endfor %}

			</tbody>
			<tfoot>
				<tr>
					<th class="text-right" colspan="6">Total</th>
					<th class="text-right">{{ price(total) }}</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="box-footer no-border">
			{#
			<strong>Keterangan</strong>
			<ul>
				<li>Nilai atau jumlah tagihan tidak muncul manandakan pembayaran tidak termasuk dalam tagihan bulanan siswa.</li>
				<li>Warna merah menadakan tagihan yang belum dibayar.</li>
				<li>Warna hijau menadakan tagihan yang sudah dibayar (Lunas).</li>
			</ul>#}
	</div>
</div>
{% endif %}

{% endblock %}

{% block js %}

<script>
	$("#jenis_laporan").on( 'change', function(){
		$(".jenis-laporan-fields").hide(0);
		if( this.value == 'bulanan' ) {
			$("#laporan-bulanan").show();
		} else if( this.value == 'mingguan' ) {
			$("#laporan-mingguan").show();
		} else {
			$("#laporan-harian").show();
		}
	});
</script>
<script>
  $(function () {
	
		$('.js-data-ajax').select2({
			ajax: {
				url: "_ajax.php?_type=query",
				dataType: 'json',
				delay: 250,
				data: function (params) {
					return {
						term: params.term,
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					// parse the results into the format expected by Select2
					// since we are using custom formatting functions we do not need to
					// alter the remote JSON data, except to indicate that infinite
					// scrolling can be used
					params.page = params.page || 1;

					return {
						results: data.items,
						pagination: {
							more: (params.page * 30) < data.total_count
						}
					};
				},
				cache: true
			},
			placeholder: 'Cari Siswa',
			escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
			minimumInputLength: 1,
			templateResult: formatRepo,
			templateSelection: formatRepoSelection
		});
	});
</script>
<script>
function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }

  var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

  markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'>" + repo.kelas + "</div>" +
  "</div>" +
  "</div></div>";

  return markup;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['bar']});
	google.charts.setOnLoadCallback(drawStuff);

	function drawStuff() {
		var data = new google.visualization.arrayToDataTable({{ data.chart_data.rows|raw }});

		var options = {
			width: 800,
			chart: {
				title: 'Nearby galaxies',
				subtitle: 'distance on the left, brightness on the right'
			},
			bars: 'horizontal', // Required for Material Bar Charts.
			series: {
				0: { axis: 'distance' }, // Bind series 0 to an axis named 'distance'.
				1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
			},
			axes: {
				x: {
					distance: {label: 'parsecs'}, // Bottom x-axis.
					brightness: {side: 'top', label: 'apparent magnitude'} // Top x-axis.
				}
			}
		};

	var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
	chart.draw(data, options);
};
</script>

{% endblock %}