{% extends "base.html.twig" %}

{% block title %} Laporan Pendapatan {% endblock %}

{% block breadcrumb %} 
<li class="active">Edit User</li>
{% endblock %}

{% block content %} 
<form action="" method="post">
	<div class="box collapsed-box no-border">
		<div class="box-header with-border">
			<button data-widget="collapse" class="btn btn-info btn-sm" type="button" id="export-btn">
				<i class="fa fa-refresh" style="display:none"></i> Filter
			</button>
		</div>
		<div class="box-body" style="display:none">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Jenis Laporan</label>
							<select id="jenis_laporan" name="jenis_laporan" class="form-control">
								<option value="harian" {{ ( request.jenis_laporan == 'harian' ) ? 'selected' : '' }}>Harian</option>
								<option value="mingguan" {{ ( request.jenis_laporan == 'mingguan' ) ? 'selected' : '' }}>Mingguan</option>
								<option value="bulanan" {{ ( request.jenis_laporan == 'bulanan' ) ? 'selected' : '' }}>Bulanan</option>
							</select>
						</div>
						<div class="form-group">
							<label>Jenis Pendapatan</label>
							<select name="jenis_pendapatan" class="form-control">
								{% for jp in jenis_pendapatan %}
								<option value="{{ jp.id }}" {{ ( jp.id == request.jenis_pendapatan ) ? 'selected' : '' }}>{{ jp.nama }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="laporan-harian" class="jenis-laporan-fields" style="display:{{ (target_filter == 'harian') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Dari Tanggal</label>
								<input type="text" name="tgl_mulai" value="{{ (request.tgl_mulai is not empty) ? request.tgl_mulai : 'now'|date('Y-m-d') }}" class="form-control datepicker">
							</div>
							<div class="form-group">
								<label>Sampai Tanggal</label>
								<input type="text" name="tgl_akhir" value="{{ (request.tgl_akhir is not empty) ? request.tgl_akhir : 'now'|date('Y-m-d') }}" class="form-control datepicker">
							</div>
						</div>
						<div id="laporan-mingguan" class="jenis-laporan-fields" style="display:{{ (target_filter == 'mingguan') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun_mingguan" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun_mingguan == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Bulan</label>
								<select name="bulan_mingguan" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_mingguan == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div id="laporan-bulanan" class="jenis-laporan-fields" style="display:{{ (target_filter == 'bulanan') ? 'block' : 'none' }}">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun_bulanan" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun_bulanan == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Mulai Bulan</label>
								<select name="bulan_mulai" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_mulai == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Sampai Bulan</label>
								<select name="bulan_akhir" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_akhir == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="box-footer" style="display:none">
			<button type="submit" name="submit-laporan" class="btn btn-primary">
				Lihat laporan
			</button>
		</div>
	</div>
</form>
	
{% if data_laporan is defined %}

	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Laporan Pendapatan: <strong>{{ app.getMasterNamaTerm(request.jenis_pendapatan) }}</strong></h3>
		</div>
		<div class="box-body">

			<table class="table table-bordered">

			{% if request.jenis_laporan == 'bulanan' %}

					<thead>
						<tr>
							<th rowspan="{{ status_pembayaran|length }}" class="text-center">Nama Bulan</th>
							<th colspan="{{ status_pembayaran|length }}" class="text-center">Status</th>
						</tr>
						<tr>
							{% for stat in status_pembayaran %}
							<th class="text-center">{{ stat.nama }}</th>
							{% endfor %}
						</tr>
					</thead>

					<tbody>
						{% for laporan in data_laporan.results %}

						<tr>

							<td align="center" width="150">{{ months[laporan.bulan] }}</td>
							{% for stat in status_pembayaran %}
								<td align="right">{{ price( laporan['status_'~stat.id] ) }}</td>
							{% endfor %}

						</tr>

						{% endfor %}

					</tbody>


			{% elseif request.jenis_laporan == 'mingguan' %}

					<thead>
						<tr>
							<th rowspan="{{ status_pembayaran|length }}" class="text-center">Minggu ke</th>
							<th colspan="{{ status_pembayaran|length }}" class="text-center">Status</th>
						</tr>
						<tr>
							{% for stat in status_pembayaran %}
							<th class="text-center">{{ stat.nama }}</th>
							{% endfor %}
						</tr>
					</thead>

					<tbody>
						{% for key, laporan in data_laporan.results %}

						<tr>

							<td align="center" width="150">{{ key }}</td>
							{% for stat in status_pembayaran %}
								<td align="right">{{ price( laporan['status_'~stat.id] ) }}</td>
							{% endfor %}

						</tr>

						{% endfor %}

					</tbody>

			{% else %}

					<thead>
						<tr>
							<th rowspan="{{ status_pembayaran|length }}" class="text-center">Tanggal</th>
							<th colspan="{{ status_pembayaran|length }}" class="text-center">Status</th>
						</tr>
						<tr>
							{% for stat in status_pembayaran %}
							<th class="text-center">{{ stat.nama }}</th>
							{% endfor %}
						</tr>
					</thead>

					<tbody>
						{% for laporan in data_laporan %}

						<tr>

							<td align="center" width="150">{{ laporan.tanggal|date('d/m/Y') }}</td>
							{% for stat in status_pembayaran %}
								<td align="right">{{ price( laporan['status_'~stat.id] ) }}</td>
							{% endfor %}

						</tr>

						{% endfor %}

					</tbody>

			{% endif %}

			<tfoot>
				<tr>
					<th class="text-right">Total</th>
					{% for stat in status_pembayaran %}
						<th class="text-right">{{ price(data_laporan.total['status_'~stat.id]) }}</th>
					{% endfor %}
				</tr>
			</tfoot>

			</table>

		</div>
		<div class="box-footer"></div>
	</div>

{% else %}

	<div class="box">
		<div class="box-header"></div>
		<div class="box-body">

			<table id="datatable1" class="table">
				<thead>
					<th>&nbsp;</th>
					<th>Tanggal</th>
					<th>Nama Siswa</th>
					<th>Pembayaran</th>
					<th>Jumlah</th>
					<th>Status</th>
				</thead>
				<tbody>
					{% for td in data %}
					<tr>
						<td align="center" width="20"></td>
						<td>{{ td.tanggal|date('d/m/Y') }}</td>
						<td>{{ printNamaSiswa(td.id_siswa) }}</td>
						<td>{{ app.getMasterNamaTerm(td.id_jenis_pendapatan) }}</td>
						<td>{{ price(td.jumlah) }}</td>
						<td>{{ app.getMasterNamaTerm(td.status) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<div class="box-footer"></div>
	</div>

{% endif %}

{% endblock %}

{% block js %}

<script>
	$("#jenis_laporan").on( 'change', function(){
		$(".jenis-laporan-fields").hide(0);
		if( this.value == 'bulanan' ) {
			$("#laporan-bulanan").show();
		} else if( this.value == 'mingguan' ) {
			$("#laporan-mingguan").show();
		} else {
			$("#laporan-harian").show();
		}
	});
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	// Load the Visualization API and the corechart package.
	google.charts.load('current', {'packages':['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChart);

	// Callback that creates and populates a data table,
	// instantiates the pie chart, passes in the data and
	// draws it.
	function drawChart() {

		// Create the data table.
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Topping');
		data.addColumn('number', 'Slices');
		data.addRows([
			['Mushrooms', 3],
			['Onions', 1],
			['Olives', 1],
			['Zucchini', 1],
			['Pepperoni', 2]
		]);

		// Set chart options
		var options = {'title':'How Much Pizza I Ate Last Night',
									 'width':400,
									 'height':300};

		// Instantiate and draw our chart, passing in some options.
		var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>
{% endblock %}