{% extends "base.html.twig" %}

{% block title %} Laporan Arus Kas {% endblock %}

{% block breadcrumb %} 
<li class="active">Arus Kas</li>
{% endblock %}

{% block css %}
<style type="text/css">
.toolbar {
    float: left;
}
</style>
{% endblock %}

{% block content %} 

<div class="box">
	<div class="box-header"></div>
	<div class="box-body">
		
		<table id="dttbl" class="table table-bordered">
			<thead>
				<tr>
					<th>Tanggal</th>
					<th>Jenis Transaksi</th>
					<th>Jumlah</th>
					<th>Kas</th>
				</tr>
			</thead>
			<tbody>
				{% for td in data %}
				<tr>
					<td>{{ td.tanggal|date('d/m/Y') }}</td>
					<td>{{ td.jenis }}</td>
					<td>{{ (td.jumlah is not null) ? price(td.jumlah) : '-' }}</td>
					<td>{{ printNamaKas(td.id_kas) }}</td>
				</tr>
				{% endfor %}
			</tbody>			
		</table>		
	</div>
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    var t = $('#dttbl').DataTable( {
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": [0, -1]
        }],
        "order": [[ 1, 'asc' ]],
        "dom": '<"toolbar">frtip'
    } );
    var html = '';
    html = html+'<div class="btn-group"><a id="cr-btn" href="#" class="btn btn-default btn-sm{% if get.filter is defined and get.filter == "peserta_lama" %} active{% endif %}">Pendapatan (credit)</a><a id="db-btn" href="#" class="btn btn-default btn-sm{% if get.filter is defined and get.filter == "peserta_baru" %} active{% endif %}">Pengeluaran (debit)</a></div>';
    $("div.toolbar").html(html);
		$("#cr-btn").on('click', function(){
			t.search('credit').draw();
		});
		$("#db-btn").on('click', function(){
			t.search('debit').draw();
		});
} );
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

	// Load the Visualization API and the corechart package.
	google.charts.load('current', {'packages':['corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.charts.setOnLoadCallback(drawChart);

	// Callback that creates and populates a data table,
	// instantiates the pie chart, passes in the data and
	// draws it.
	function drawChart() {

		// Create the data table.
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Topping');
		data.addColumn('number', 'Slices');
		data.addRows([
			['Mushrooms', 3],
			['Onions', 1],
			['Olives', 1],
			['Zucchini', 1],
			['Pepperoni', 2]
		]);

		// Set chart options
		var options = {'title':'How Much Pizza I Ate Last Night',
									 'width':400,
									 'height':300};

		// Instantiate and draw our chart, passing in some options.
		var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>
{% endblock %}