{% extends "base.html.twig" %}

{% block title %} Laporan Pembayaran Siswa {% endblock %}

{% block content %} 
<form action="" method="post">
	<div class="box no-border">
		<div class="box-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Nama Siswa</label>
							<select name="id_siswa" class="js-data-ajax form-control" required>
								{% if request.id_siswa is not empty %}
								<option value="{{ request.id_siswa }}" selected="selected">{{ app.getSiswa(request.id_siswa).nama }}</option>
								{% endif %}
							</select>
						</div>
						<div class="form-group">
							<label>Jenis Pembayaran</label>
							<select name="id_jenis_pendapatan[]" class="form-control" multiple="multiple">
								{% for jp in jenis_pendapatan %}
								<option value="{{ jp.id }}" {{ ( jp.id in request.id_jenis_pendapatan ) ? 'selected' : '' }}>{{ jp.nama }}</option>
								{% endfor %}
							</select>
						</div>

					</div>
					<div class="col-sm-6">
							<div class="form-group">
								<label>Tahun</label>
								<select name="tahun" class="form-control">
									{% for tahun in years %}
									<option value="{{ tahun }}" {{ ( request.tahun == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Mulai Bulan</label>
								<select name="bulan_mulai" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_mulai == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Sampai Bulan</label>
								<select name="bulan_akhir" class="form-control">
									<option value="">- Pilih Bulan -</option>
									{% for key, bulan in months %}
									<option value="{{ key }}" {{ ( request.bulan_akhir == key ) ? 'selected' : '' }}>{{ bulan }}</option>
									{% endfor %}
								</select>
							</div>
					</div>
				</div>
		</div>
		<div class="box-footer">
			<button type="submit" name="submit-laporan-pembayaran" class="btn btn-primary">
				Lihat laporan
			</button>
		</div>
	</div>
</form>
	
{% if laporan is defined %}
{% set data = laporan %}
{% set query = data.query %}
<div class="box">
	<div class="box-header">
		<h3 class="box-title">
			Laporan Pembayaran Siswa: 
			<strong>{{ data.siswa.nama }}</strong> 
			{% if query.bulan_mulai is not empty %}
				{% if query.bulan_akhir > query.bulan_mulai %}
					bulan {{ months[query.bulan_mulai] }} - {{ months[query.bulan_akhir] }} 
				{% else %}
					bulan {{ months[query.bulan_mulai] }}
				{% endif %}
				{{ query.tahun }}
			{% else %}
				selama tahun {{ data.query.tahun }}
			{% endif %}
		</h3>
		<div class="pull-right">
			<a href="cetak.php?aksi=pembayaran_siswa&id_siswa={{ request.id_siswa }}&id_jenis_pendapatan={{ request.id_jenis_pendapatan|join(',') }}&tahun={{ request.tahun }}&mulai={{ request.bulan_mulai }}&akhir={{ request.bulan_akhir }}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-print"></i> Print</a>
		</div>
	</div>
	<div class="box-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Tgl Bayar</th>
					<th>No. Transaksi</th>
					<th>No. Induk</th>
					<th>Siswa</th>
					<th>Kelas</th>
					<th>Th. Ajaran</th>
					<th>Pembayaran</th>
					<th>Bulan</th>
					<th>Jumlah</th>
				</tr>
			</thead>
			{% set no = 1 %}
			{% set total = 0 %}
			<tbody>
				{% set siswa = data.siswa %}
				{% for td in data.results %}
				<tr>
					<td>{{ no }}</td>
					<td>{{ td.tanggal|date('d/m/Y') }}</td>
					<td>{{ printNoTransaksi(td.id_transaksi) }}</td>
					<td>{{ siswa.nis }}</td>
					<td>{{ siswa.nama }}</td>
					<td>{{ siswa.kelas.nama_kelas }}</td>
					<td>{{ option('tahun_ajaran') }}</td>
					<td>{{ td.pembayaran.nama }}</td>
					<td>{{ td.bulan_ke }}</td>
					<td align="right">{{ price(td.jumlah) }}</td>
				</tr>
				{% set no = no+1 %}
				{% set total = total+td.jumlah %}
				{% endfor %}

			</tbody>
			<tfoot>
				<tr>
					<th class="text-right" colspan="9">Total</th>
					<th class="text-right">{{ price(total) }}</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="box-footer no-border">
			{#
			<strong>Keterangan</strong>
			<ul>
				<li>Nilai atau jumlah tagihan tidak muncul manandakan pembayaran tidak termasuk dalam tagihan bulanan siswa.</li>
				<li>Warna merah menadakan tagihan yang belum dibayar.</li>
				<li>Warna hijau menadakan tagihan yang sudah dibayar (Lunas).</li>
			</ul>#}
	</div>
</div>
{% endif %}

{% endblock %}

{% block js %}

<script>
	$("#jenis_laporan").on( 'change', function(){
		$(".jenis-laporan-fields").hide(0);
		if( this.value == 'bulanan' ) {
			$("#laporan-bulanan").show();
		} else if( this.value == 'mingguan' ) {
			$("#laporan-mingguan").show();
		} else {
			$("#laporan-harian").show();
		}
	});
</script>
<script>
  $(function () {
	
		$('.js-data-ajax').select2({
			ajax: {
				url: "_ajax.php?_type=query",
				dataType: 'json',
				delay: 250,
				data: function (params) {
					return {
						term: params.term,
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					// parse the results into the format expected by Select2
					// since we are using custom formatting functions we do not need to
					// alter the remote JSON data, except to indicate that infinite
					// scrolling can be used
					params.page = params.page || 1;

					return {
						results: data.items,
						pagination: {
							more: (params.page * 30) < data.total_count
						}
					};
				},
				cache: true
			},
			placeholder: 'Cari Siswa',
			escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
			minimumInputLength: 1,
			templateResult: formatRepo,
			templateSelection: formatRepoSelection
		});
	});
</script>
<script>
function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }

  var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

  markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'>" + repo.kelas + "</div>" +
  "</div>" +
  "</div></div>";

  return markup;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {'packages':['bar']});
	google.charts.setOnLoadCallback(drawStuff);

	function drawStuff() {
		var data = new google.visualization.arrayToDataTable({{ data.chart_data.rows|raw }});

		var options = {
			width: 800,
			chart: {
				title: 'Nearby galaxies',
				subtitle: 'distance on the left, brightness on the right'
			},
			bars: 'horizontal', // Required for Material Bar Charts.
			series: {
				0: { axis: 'distance' }, // Bind series 0 to an axis named 'distance'.
				1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
			},
			axes: {
				x: {
					distance: {label: 'parsecs'}, // Bottom x-axis.
					brightness: {side: 'top', label: 'apparent magnitude'} // Top x-axis.
				}
			}
		};

	var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
	chart.draw(data, options);
};
</script>

{% endblock %}