{% extends "base.html.twig" %}

{% block title %} Jenis Pengeluaran {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %} 

<div class="box">
  <div class="box-header"></div>
  <div class="box-body">
      <div class="row">
        <div class="col-sm-12 col-md-4">

          <form action="" method="post">
            <div class="form-group">
              <label>Kode</label>
              <input type="text" id="kode" name="kode" class="form-control" value="">
            </div>
            <div class="form-group">
              <label>Nama Jenis Pengeluaran</label>
              <input type="text" id="nama" name="nama" class="form-control" value="">
            </div>
            <button class="btn btn-primary" type="submit">Simpan</button>
          </form>
        </div>
        <!-- ./col -->
        <div class="col-sm-12 col-md-8">
         
          <table class="table">
            <thead>
              <tr>
                <th>Kode</th>
                <th>Nama Term</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for td in master %}
                <tr>
                  <td>{{ td.kode }}</td>
                  <td>
										<a href="#" class="nama-master" data-type="text" data-pk="{{ td.id }}">{{ td.nama }}</a>
									</td>
                  <td><a href="#" class="tombol-hapus btn btn-danger btn-sm" data-content="Hapus data?" data-table="master" data-return="index.php?_uri=master&term=jenis_pengeluaran" data-id="{{ td.id }}" title="Hapus"><i class="fa fa-trash"></i></a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <div class="box-footer"></div>
</div>

{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script>
$(function(){
		$('.nama-master').editable({
				url: '_ajax.php',
				title: 'Nama Level User'
		});
});
</script>


{% endblock %}