{% extends "base.html.twig" %}

{% block title %} Master Jumlah Pembayaran {% endblock %}

{% block content %} 

<div class="box">
  <div class="box-header">
		<button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			<i class="fa fa-plus"></i> TAMBAH
		</button>
	</div>
  <div class="box-body">
		
		<div class="collapse" id="collapseExample">
			<div class="well" style="width:350px">
          <form action="" method="post">
            <div class="form-group">
              <label>Nama Pembayaran</label>
              <select name="nama" class="form-control">
								<option value="">- Pilih -</option>
								{% for jp in jenis_pendapatan %}
								<option value="{{ jp.id }}">{{ jp.nama }}</option>
								{% endfor %}
							</select>
            </div>
            <div class="form-group">
              <label>Kelas</label>
              <select name="ket" class="form-control">
								<option value="">- Pilih -</option>
								{% for kelas in listKelas.results %}
								<option value="{{ kelas.id }}">{{ kelas.nama_kelas }}</option>
								{% endfor %}
							</select>
            </div>
            <div class="form-group">
              <label>Jumlah</label>
              <input type="number" id="custom_1" name="custom_1" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">Simpan</button>
          </form>
			</div>
		</div>
		
			<table id="datatable1" class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Nama Pembayaran</th>
						<th>Kelas</th>
						<th>Jumlah</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for td in master %}
						<tr>
							<td width="20" align="center"></td>
							<td>{{ printNamaTerm(td.nama) }}</td>
							<td>{{ printNamaKelas(td.ket) }}</td>
							<td>{{ td.custom_1 }}</td>
							<td>
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-id="{{ td.id }}"><i class="fa fa-pencil"></i></button>
								<button type="button" class="{% if td.locked == 1 %}disabled{% else %}tombol-hapus{% endif %} btn btn-danger btn-sm" data-content="Hapus data?" data-table="master" data-return="index.php?_uri=master&term=jumlah_pembayaran" data-id="{{ td.id }}" title="Hapus" {% if td.locked == 1 %}disabled{% endif %}><i class="fa fa-trash"></i></button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		
  </div>
  <div class="box-footer"></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <form action="" method="post" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit Jumlah Pembayaran</h4>
      </div>
      <div class="modal-body">          
				<div class="form-group">
					<label>Nama Pembayaran</label>
					<select id="edit_nama" name="nama" class="form-control">
						<option value="">- Pilih -</option>
						{% for jp in jenis_pendapatan %}
						<option value="{{ jp.id }}">{{ jp.nama }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Kelas</label>
					<select id="edit_ket" name="ket" class="form-control">
						<option value="">- Pilih -</option>
						{% for kelas in listKelas.results %}
						<option value="{{ kelas.id }}">{{ kelas.nama_kelas }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label>Jumlah</label>
					<input type="number" id="edit_custom_1" name="custom_1" class="form-control">
				</div>
				<input type="hidden" name="id" id="id" value="">          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var id = button.data('id') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	var modal = $(this)
	$.ajax({
		type: "POST",
		url: "_ajax.php",
		data: {aksi: "data", data: "master", id: id},
		success: function(response) {
			console.log(response);
			var data = JSON.parse(response);
			modal.find('#edit_nama').val(data.nama);
			modal.find('#edit_ket').val(data.ket);
			modal.find('#edit_custom_1').val(data.custom_1);
			modal.find('#id').val(data.id);
		}
	});

})
</script>
{% endblock %}