{% extends "base.html.twig" %}

{% block title %} Jenis Pendapatan {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %} 

<div class="box">
  <div class="box-header">
		<button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			<i class="fa fa-plus"></i> TAMBAH
		</button>
	</div>
  <div class="box-body">
		
		<div class="collapse" id="collapseExample">
			<div class="well" style="width:350px">
          <form action="" method="post">
            <div class="form-group">
              <label>Nama Jenis Pendapatan</label>
              <input type="text" id="nama" name="nama" class="form-control" value="">
            </div>
            <div class="form-group">
              <label>Operator</label>
              <select name="ket" class="form-control">
								<option value="">- Pilih -</option>
								{% for user in users %}
								<option value="{{ user.id }}">{{ user.nama }}</option>
								{% endfor %}
							</select>
            </div>
            <button class="btn btn-primary" type="submit">Simpan</button>
          </form>
			</div>
		</div>
		
			<table id="datatable1" class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Jenis Pendapatan</th>
						<th>Petugas/Operator</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for td in master %}
						<tr>
							<td width="20" align="center"></td>
							<td>
								<a href="#" class="nama-master" data-type="text" data-pk="{{ td.id }}">{{ td.nama }}</a>
							</td>
							<td><a href="#" class="operator" data-type="select" data-pk="{{ td.id }}" data-url="_ajax.php?field=ket" data-title="Pilih operator">{{ printNamaUser(td.ket) }}</a></td>
							<td>
								<button type="button" class="{% if td.locked == 1 %}disabled{% else %}tombol-hapus{% endif %} btn btn-danger btn-sm" data-content="Hapus data?" data-table="master" data-return="index.php?_uri=master&term=jenis_pendapatan" data-id="{{ td.id }}" title="Hapus" {% if td.locked == 1 %}disabled{% endif %}><i class="fa fa-trash"></i></button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		
  </div>
  <div class="box-footer"></div>
</div>

{% endblock %}


{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script>
$(function(){
		$('.nama-master').editable({
				url: '_ajax.php',
				title: 'Jenis Pendapatan'
		});
});
</script>

<script>
$(function(){
    $('.operator').editable({    
        source: [
							{% for user in users %}
              {value: '{{ user.id }}', text: '{{ user.nama }}'}
							{% if not loop.last %},{% endif %}
              {% endfor %}
           ]
    });
});
</script>
{% endblock %}