{% extends "base.html.twig" %}

{% block title %} Pembayaran {% endblock %}

{% block content %} 
<!-- Default box -->
<div class="box">
	<div class="box-header">
		<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			Filter
		</button>
		<a href="entry.php?aksi=edit" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH ENTRY</a>
	</div>
  <div class="box-body">
		<div class="collapse {{ (request.filter is not empty) ? 'in' : '' }}" id="collapseExample">
			<form action="" method="post">
				<div class="">

						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="form-group">
									<label>Siswa</label>
									<select name="id_siswa" class="js-data-ajax form-control" style="width:100%">
										{% if request.id_siswa is not empty %}
										<option value="{{ request.id_siswa }}" selected="selected">{{ printNamaSiswa(request.id_siswa) }}</option>
										{% endif %}
									</select>
								</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="form-group">
									<label>Jenis Pembayaran</label>
									<select name="id_jenis_pendapatan" class="form-control">
										{% for jp in jenis_pendapatan %}
										<option value="{{ jp.id }}" {{ (request.filter.id_jenis_pendapatan == jp.id) ? 'selected' : '' }}>{{ jp.nama }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					
					<div class="form-group">
						<button class="btn btn-primary" type="submit" name="submit-filter">Filter Data</button>
					</div>
					
				</div>
			</form>
			<hr>
		</div>
		
    <table id="datatable1" {#data-order="[[ 2, &quot;asc&quot; ]]"#} class="table table-responsive table-hover">
      <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Tgl Bayar</th>
					<th>No. Transaksi</th>
					<th>No. Induk</th>
					<th>Siswa</th>
					<th>Kelas</th>
					<th>Th. Ajaran</th>
					<th>Pembayaran</th>
					<th>Bulan</th>
					<th>Jumlah</th>
					<th>Status</th>
					<th>&nbsp;</th>
				</tr>
      </thead>
      <tbody>
        {% for td in data %}
        <tr>
					<td align="center" width="20"></td>
          <td>{{ td.tanggal|date('d/m/Y') }}</td>
					<td>{{ printNoTransaksi(td.tahun, td.transaksi.id) }}</td>
          <td>{{ td.siswa.nis }}</td>
					<td><a>{{ td.siswa.nama }}</a></td>
					<td>{{ td.siswa.kelas.nama_kelas }}</td>
					<td>{{ td.tahun }}</td>
          <td>{{ app.getMasterNamaTerm(td.id_jenis_pendapatan) }}</td>
					<td>{{ td.bulan_ke }}</td>
          <td>{{ price(td.jumlah) }}</td>
          <td>{{ app.getMasterNamaTerm(td.status) }}</td>
					<td width="150" align="center">
						<a href="entry.php?aksi=edit&id={{ td.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
						<a href="cetak.php?aksi=entry&id={{ td.id }}" class="btn btn-primary btn-sm" title="Cetak" target="_blank"><i class="fa fa-print"></i></a>
						<a href="#" class="tombol-hapus btn btn-danger btn-sm" data-content="Hapus entry?" data-table="pembayaran" data-return="entry.php" data-id="{{ td.id }}" title="Hapus"><i class="fa fa-trash"></i></a>
					</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}

{% block js %}
<script>
  $(function () {
	
		$('.js-data-ajax').select2({
			ajax: {
				url: "_ajax.php?_type=query",
				dataType: 'json',
				delay: 250,
				data: function (params) {
					return {
						term: params.term,
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					// parse the results into the format expected by Select2
					// since we are using custom formatting functions we do not need to
					// alter the remote JSON data, except to indicate that infinite
					// scrolling can be used
					params.page = params.page || 1;

					return {
						results: data.items,
						pagination: {
							more: (params.page * 30) < data.total_count
						}
					};
				},
				cache: true
			},
			placeholder: 'Cari Siswa',
			escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
			minimumInputLength: 1,
			templateResult: formatRepo,
			templateSelection: formatRepoSelection
		});
	});
</script>
<script>
function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }

  var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

  markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'>" + repo.kelas + "</div>" +
  "</div>" +
  "</div></div>";

  return markup;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}
</script>
{% endblock %}