{% extends "base.html.twig" %}

{% block title %} Pembayaran {% endblock %}

{% block pageTitle %} Tambah Entry <small>Pembayaran</small> {% endblock %}

{% block head %}
<link rel="stylesheet" href="assets/plugins/datetimepicker/jquery.datetimepicker.css">
{% endblock %}

{% block content %} 
<form action="" method="post">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Tanggal</label>
          <div class="col-sm-4">
            <input type="text" name="tanggal" class="datepicker form-control" value="{{ (request.tanggal is not empty) ? request.tanggal : 'now'|date('Y-m-d') }}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Siswa</label>
          <div class="col-sm-6">
            <select id="id_siswa" name="id_siswa" class="js-data-ajax form-control" required>
							{% if request.id_siswa is not empty %}
							<option value="{{ request.id_siswa }}" selected="selected">{{ app.getSiswa(request.id_siswa).nama }}</option>
							{% endif %}
						</select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Pembayaran</label>
          <div class="col-sm-5">
            <select id="id_jenis_pendapatan" name="id_jenis_pendapatan" class="form-control" required>
							<option value=""></option>
							{% for jp in jenis_pendapatan %}
							<option value="{{ jp.id }}" {{ (request.id_jenis_pendapatan == jp.id) ? 'selected' : '' }}>{{ jp.nama }}</option>
							{% endfor %}
						</select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Bulan ke</label>
          <div class="col-sm-4">
            <select name="bulan_ke" class="form-control" required>
							<option value=""></option>
							{% for k, v in months %}
							<option value="{{ v }}" {{ (request.bulan_ke == v) ? 'selected' : '' }}>{{ v }}</option>
							{% endfor %}
						</select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Tahun Ajaran</label>
          <div class="col-sm-4">
            <select name="tahun" class="form-control" required>
							{% for tahun in years %}
							<option value="{{ tahun }}" {{ ( request.tahun == tahun ) ? 'selected' : '' }}>{{ tahun }}</option>
							{% endfor %}
						</select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Jumlah Bayar</label>
          <div class="col-sm-4">
            <input type="number" id="jumlah" name="jumlah" class="form-control" value="{{ request.jumlah }}" min="1000">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Kas</label>
          <div class="col-sm-4">
            <select name="id_kas" class="form-control" required>
							<option value=""></option>
							{% for kas in akun_kas %}
							<option value="{{ kas.id }}" {{ (request.id_kas == kas.id) ? 'selected' : '' }}>{{ kas.nama_akun }}</option>
							{% endfor %}
						</select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Keterangan</label>
          <div class="col-sm-6">
            <textarea class="form-control" name="keterangan">{{ request.keterangan }}</textarea>
          </div>
        </div>
        <div class="col-sm-offset-3 col-sm-9">
					<input type="hidden" name="status" value="11">
          <button class="btn btn-primary" type="submit">Simpan</button>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"></div>
  </div>
</form>
<!-- /.box -->
{% endblock %}

{% block js %}
<script>
  $(function () {
	
		$('.js-data-ajax').select2({
			ajax: {
				url: "_ajax.php?_type=query",
				dataType: 'json',
				delay: 250,
				data: function (params) {
					return {
						term: params.term,
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					// parse the results into the format expected by Select2
					// since we are using custom formatting functions we do not need to
					// alter the remote JSON data, except to indicate that infinite
					// scrolling can be used
					params.page = params.page || 1;

					return {
						results: data.items,
						pagination: {
							more: (params.page * 30) < data.total_count
						}
					};
				},
				cache: true
			},
			placeholder: 'Cari Siswa',
			escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
			minimumInputLength: 1,
			templateResult: formatRepo,
			templateSelection: formatRepoSelection
		});
	});
</script>
<script>
function formatRepo (repo) {
  if (repo.loading) {
    return repo.text;
  }

  var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

  markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'>" + repo.kelas + "</div>" +
  "</div>" +
  "</div></div>";

  return markup;
}

function formatRepoSelection (repo) {
  return repo.full_name || repo.text;
}
</script>
<script>
	$("#id_jenis_pendapatan").on( 'change', function() {
		$.LoadingOverlay("show");
		var id_siswa = $("#id_siswa").val();
		$.ajax({
			type: "POST",
			url: "_ajax.php",
			data: {aksi: "data", data: "master", type: "jumlah_pembayaran", param: { id_jenis_pendapatan: this.value, id_siswa: id_siswa }}
		})
		.done(function(response){
			var jumlah = parseInt(response);
			$("#jumlah").val(jumlah);
			console.log(jumlah)
			$.LoadingOverlay("hide");
		});
	});
</script>
{% endblock %}