{% extends "base.html.twig" %}

{% block title %} Profile {% endblock %}

{% block pageTitle %} Akun Saya <small>Profile</small> {% endblock %}

{% block content %}

{% if get.success is defined and get.success == 1 %}
<div class="alert alert-success">
	<p>Profil anda berhasil diperbarui.</p>
</div>
{% endif %}

<div class="row">
	<div class="col-md-3">
	  <!-- Profile Image -->
	  <div class="box box-primary">
	    <div class="box-body box-profile">
	      {{ gravatar(admin.email, {'class': 'profile-user-img img-responsive img-circle'}, true, 128)|raw }}

	      <h3 class="profile-username text-center">{{ app.user.nama }}</h3>

	      <p class="text-muted text-center">{{ app.user.email }}</p>
	    </div>
	    <!-- /.box-body -->
	  </div>
	  <!-- /.box -->

	  <!-- About Me Box -->
	  <div class="box box-primary">
	    <div class="box-body">
	      <strong><i class="fa fa-clock-o margin-r-5"></i> Login terakhir</strong>

	      <p class="text-muted">
	        {{ admin.last_login|date('d/m/Y H:i') }}
	      </p>

	    </div>
	    <!-- /.box-body -->
	  </div>
	  <!-- /.box -->
	</div>
	<!-- /.col -->
	<div class="col-md-9">
	  <div class="nav-tabs-custom">
	    <ul class="nav nav-tabs">
	      <li class="{{ ( tab_target == 'profile' ) ? 'active' : '' }}"><a href="#profile" data-toggle="tab">Profile</a></li>
	      <li class="{{ ( tab_target == 'ganti-password' ) ? 'active' : '' }}"><a href="#ganti-password" data-toggle="tab">Ganti Password</a></li>
	    </ul>
	    <div class="tab-content">
	      	<div class="{{ ( tab_target == 'profile' ) ? 'active' : '' }} tab-pane" id="profile">
		        <form class="form-horizontal" method="post">
		          <div class="form-group">
		            <label class="control-label col-sm-3">Username</label>

		            <div class="col-sm-6">
		              <p class="form-control-static">{{ app.user.username }}</p>
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="control-label col-sm-3">Nama</label>

		            <div class="col-sm-6">
		              <input type="text" class="form-control" id="nama" name="nama" value="{{ app.user.nama }}" placeholder="Nama">
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="control-label col-sm-3">Email</label>

		            <div class="col-sm-6">
		              <input type="email" class="form-control" id="email" name="email" value="{{ app.user.email }}" placeholder="Email">
		            </div>
		          </div>
		          <div class="form-group">
		            <div class="col-sm-offset-3 col-sm-9">
		              <button type="submit" name="update-profil" class="btn btn-primary">Simpan</button>
		            </div>
		          </div>
		        </form>
	      	</div>
	      	<div class="{{ ( tab_target == 'ganti-password' ) ? 'active' : '' }} tab-pane" id="ganti-password">
		        <form class="form-horizontal" method="post" role="form">
		          <div class="form-group">
		            <label class="col-sm-3 control-label">Password Baru</label>

		            <div class="col-sm-6">
		              <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Minimal 6 karakter" required>
		            </div>
		          </div>
		          <div class="form-group">
		            <label class="col-sm-3 control-label">Ulangi Password</label>

		            <div class="col-sm-6">
		              	<input name="password" type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Error, password tidak sama..." placeholder="Konfirmasi password" required>
        <div class="help-block with-errors"></div>
		            </div>
		          </div>
		          <div class="form-group">
		            <div class="col-sm-offset-3 col-sm-9">
		              <button type="submit" name="ganti-password" class="btn btn-primary">Simpan</button>
		            </div>
		          </div>
		        </form>
	      	</div>
	    </div>
	  </div>
	  <!-- /.nav-tabs-custom -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}