{% extends "base.html.twig" %}

{% block title %} Pengaturan {% endblock %}

{% block pageTitle %} Pengaturan {% endblock %}

{% block breadcrumb %}
<li class="active">Pengaturan</li>
{% endblock %}

{% block content %} 

<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="{{ ( target_tab == 'details' ) ? 'active' : '' }}"><a href="#details" data-toggle="tab">Detail</a></li>
				<li class="{{ ( target_tab == 'backup' ) ? 'active' : '' }}"><a href="#backup" data-toggle="tab">Backup</a></li>
			</ul>
			<div class="tab-content">
				<div class="{{ ( target_tab == 'details' ) ? 'active' : '' }} tab-pane" id="details">
					<form action="" method="post" enctype="multipart/form-data">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-3 control-label">Logo</label>
								<div class="col-sm-5">
									<input type="file" name="logo_image" id="logo_image">
								</div>
								<div class="col-sm-5" id="logo_image-container">
									<img alt=" " src="#" id="prv-logo_image" class="img-responsive" style="display:none">
									{% if option('logo_image') is not empty %}
									<img src="../uploads/{{ option('logo_image') }}" alt=" " width="250" height="150">
									{% endif %}
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Nama Aplikasi</label>

								<div class="col-sm-6">
									<input type="text" class="form-control" id="app_name" name="app_name" value="{{ option('app_name') }}" placeholder="Nama Aplikasi">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Deskripsi Aplikasi</label>

								<div class="col-sm-6">
									<textarea class="form-control" id="app_description" name="app_description">{{ option('app_description') }}</textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Nama Sekolah</label>

								<div class="col-sm-6">
									<input type="text" class="form-control" id="nama_sekolah" name="nama_sekolah" value="{{ option('nama_sekolah') }}" placeholder="Nama Sekolah">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Tahun Ajaran</label>

								<div class="col-sm-6">
									<input type="text" class="form-control" id="tahun_ajaran" name="tahun_ajaran" value="{{ option('tahun_ajaran') }}" placeholder="Contoh: 2017/2018">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Email Admin</label>

								<div class="col-sm-6">
									<input type="email" class="form-control" id="app_admin_email" name="app_admin_email" value="{{ option('app_admin_email') }}" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" name="submit-setting" class="btn btn-primary">Simpan</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- /.tab-pane -->
				<div class="{{ ( target_tab == 'backup' ) ? 'active' : '' }} tab-pane" id="backup">
					<div class="">
						<div class="callout callout-info">
							<h4><i class="fa fa-info"></i> Catatan</h4>
							Export dan Import database menggunakan command PHP <code>exec()</code>, jika command exec tidak diaktifkan pada hosting anda, maka database tidak dapat diexport maupun diimport.
						</div>
					</div>
					<div class="row">

						<div class="col-sm-12 col-md-3">
							<p class="text-right">
								Restore Database
							</p>
						</div>
						<div class="col-sm-12 col-md-9">
							<form>
								<div class="form-group">
									<input type="file" name="database_file" required>
								</div>
								<div class="form-group">
									<button id="restore-btn" type="submit" class="btn btn-primary btn-sm">Import SQL</button>
								</div>
							</form>
						</div>

					</div>
					<hr>
					<div class="row">
						<div class="col-sm-12 col-md-3">
							<p class="text-right">
								Export Database
							</p>
						</div>
						<div class="col-sm-12 col-md-9">
							<button id="export-btn" type="button" class="btn btn-default btn-sm">Download SQL Backup</button>
						</div>


					</div>
					<hr>
					<div class="row">

						<div class="col-sm-12 col-md-3">
							<p class="text-right">
								Google Drive
							</p>
						</div>
						<div class="col-sm-12 col-md-9">
							{% if missing_credentials is defined %}
							
							<div class="alert alert-error">
								Koneksi ke google drive belum diatur...
							</div>
							
							<div class="well">
								<strong>Petunjuk</strong>
								<ul>
									<li>Buka halaman <a href="https://console.developers.google.com/" target="_blank">Google API Console</a>.</li>
									<li>Jika belum login, silahkan login menggunakan akun Google yang akan digunakan sebagai akun Google Drive.</li>
									<li>Pilih salah satu Project pada menu dropdown "My Project", atau buat project baru jika belum memiliki project.</li>
									<li>Setelah memilih project, klik <code>ENABLE APIS AND SERVICEs</code>.</li>
									<li>Di kolom pencarian, cari dan klik "Google Drive API"</li>
									<li>Selanjutnya klik ENABLE jika API belum aktif, atau klik MANAGE API jika API sudah pernah diaktifkan sebelumnya.</li>
									<li>Setelah itu, pilih menu <strong>Credentials</strong> pada menu sidebar sebelah kiri.</li>
									<li>Di halaman credentials, cari dan klik dropdown menu "Create Credentials".</li>
									<li>Pilih <code>OAuth Client ID</code> pada dropdown tersebut.</li>
									<li>Application Type, pilih <strong>Other</strong>, namanya silahkan diisi dengan nama aplikasi atau nama sekolah. Setelah itu klik tombol submit.</li>
									<li>Jika muncul pop-up, silahkan ditutup, kemudian pada list OAuth Client ID, cari nama Aplikasi yang barusan anda buat, dan download file json-nya (anda akan melihat tombol download disebelah kanan)</li>
									<li>Setelah mendownload file json tersebut, silahkan upload melalui form dibawah ini.</li>
								</ul>
							</div>
							
							<form action="" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<input type="file" name="credential_file" required>
								</div>
								<div class="form-group">
									<button name="submit-credentials" type="submit" class="btn btn-primary btn-sm">Upload Google Credential</button>
								</div>
							</form>
							
							{% else %}
							
								{% if authUrl is defined %}
									<div class="request">
										<p>
											<em>Anda belum terhubung ke Google Drive</em><br>
											<a target="_blank" class='login' href='{{ authUrl }}'>Klik disini untuk membuat authorisasi ke Google Drive anda</a>,<br>
											setelah itu masukkan kode auth dibawah ini:
										</p>
										<form action="" method="get">
											<input type="text" name="code" value="">
											<button class="btn btn-primary" type="submit">
												Submit
											</button>
										</form>
									</div>
								{% elseif gdrive is defined %}
									<div class="shortened">
										<p>
											Database berhasil diupload ke google drive.<br>
											Nama file: <a href="https://drive.google.com/open?id={{ gdrive.id }}" target="_blank">{{ gdrive.name }}</a>
										</p>
									</div>
								{% else %}
									<form action="" method="POST">
										<input type="submit" class="btn btn-default btn-sm" value="Backup database ke Google Drive" />
									</form>
								{% endif %}

								<br>
								<p>
									{% if option("gdrive_last_backup") is not empty %}
									<em>Backup terakhir pada tanggal {{ option("gdrive_last_backup")|date('d/m/Y')}}</em>
									{% endif %}
								</p>
							
							{% endif %}
							
						</div>

					</div>


				</div>
			</div>
			<!-- /.tab-content -->
		</div>
		<!-- /.nav-tabs-custom -->
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$("#export-btn").on( 'click', function() {
		$.LoadingOverlay("show");
		$.ajax({
			type: "POST",
			url: "_ajax.php",
			data: {aksi: "dumpsql"}
		})
		.done(function(){
			var file_path = "uploads/database.sql";
			var a = document.createElement('A');
			a.href = file_path;
			a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
			document.body.appendChild(a);
			a.click();
			document.body.removeChild(a);
			$.LoadingOverlay("hide");
		});
	});
</script>
<script>
function readURL(input, targetid) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#'+targetid).attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

// $("#logo_image").change(function(){
//   readURL(this, 'prv-logo_image');
//   $("#prv-logo_image").show();
// });
</script>
{% endblock %}