{% extends "base.html.twig" %}

{% block title %} Backup Database {% endblock %}

{% block content %} 
<form action="" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#details" data-toggle="tab"> Backup Database </a></li>
          <li><a href="#pesan" data-toggle="tab"> Pengaturan </a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="details">
    <div class="pad margin no-print">
      <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-info"></i> Catatan</h4>
				Export dan Import database menggunakan command PHP <code>exec()</code>, jika command exec tidak diaktifkan pada hosting anda, maka database tidak dapat diexport maupun diimport.
      </div>
    </div>
						<div class="row">
							<div class="col-sm-12 col-md-3">
								<p class="text-right">
									Export Database
								</p>
							</div>
							<div class="col-sm-12 col-md-9">
								<button id="export-btn" type="button" class="btn btn-success btn-xs">Download SQL Backup</button>
							</div>

							
						</div>
						<hr>
						<div class="row">
							
							<div class="col-sm-12 col-md-3">
								<p class="text-right">
									Restore Database
								</p>
							</div>
							<div class="col-sm-12 col-md-9">
								<button class="btn btn-primary">Download SQL Backup</button>
							</div>
							
						</div>
						<hr>
						<div class="row">
							
							<div class="col-sm-12 col-md-3">
								<p class="text-right">
									Backup ke Google Drive
								</p>
							</div>
							<div class="col-sm-12 col-md-9">
									{% if authUrl is defined %}
										<div class="request">
											<form action="setting.php?aksi=backup" method="get">
												<input type="text" name="code" value="">
												<button class="btn btn-primary" type="submit">
													Submit
												</button>
											</form>
											<a target="_blank" class='login' href='{{ authUrl }}'>Connect Me!</a>
										</div>
									{% elseif post is defined %}
										<div class="shortened">
											<p>Your call was successful! Check your drive for the following files:</p>
											<ul>
												<li><a href="https://drive.google.com/open?id=<?= $result->id ?>" target="_blank"><?= $result->name ?></a></li>
												<li><a href="https://drive.google.com/open?id=<?= $result2->id ?>" target="_blank"><?= $result2->name ?></a></li>
											</ul>
										</div>
									{% else %}
										<form method="POST">
											<input type="submit" value="Click here to upload two small (1MB) test files" />
										</form>
									{% endif %}
							</div>
							
						</div>
						
						
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="pesan">

          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
  </div>
</form>
{% endblock %}

{% block js %}
<script>
	$("#export-btn").on( 'click', function() {
		$.LoadingOverlay("show");
		$.ajax({
			type: "POST",
			url: "_ajax.php",
			data: {aksi: "dumpsql"}
		})
		.done(function(){
			var file_path = "uploads/database.sql";
			var a = document.createElement('A');
			a.href = file_path;
			a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
			document.body.appendChild(a);
			a.click();
			document.body.removeChild(a);
			$.LoadingOverlay("hide");
		});
	});
</script>
{% endblock %}