{% extends "base.html.twig" %}

{% block title %} Data Siswa {% endblock %}

{% block content %} 
<!-- Default box -->
<div class="box">
  <div class="box-header">
    <a href="siswa.php?aksi=new" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<a href="cetak.php?aksi=siswa&kelas={{ request.kelas }}" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-print"></i> Cetak data</a>
		<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			<i class="fa fa-download"></i> Import dari Excel
		</button>
		<button class="btn btn-primary btn-sm" type="button" id="export-btn">
			<i class="fa fa-upload"></i> Export ke Excel
		</button>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			</button>
		</div>
  </div>
  <div class="box-body">
		
		<div class="collapse" id="collapseExample">
			<div class="well" style="width:400px">
          <form action="siswa.php" method="post" class="form-inline" enctype="multipart/form-data">
            <div class="form-group">
              <input type="file" id="file_excel" name="file_excel" required>
            </div>
            <div class="form-group">
							<button class="btn btn-primary" name="submit-excel" type="submit">Upload</button>
						</div>
          </form>
					<br>
					<p><a href="uploads/siswa_import_sampel.xls" download>Download contoh format import excel</a></p>
			</div>
		</div>
		
		<div style="width:350px;margin-bottom:1em">
			<div class="form-inline">
				<select class="form-control" id="kelas-select">
					<option value="">- Filter Siswa -</option>
					<optgroup label="Kelas">
						{% for kelas in dataKelas %}
						<option value="{{ kelas.id }}" {{ (request.kelas == kelas.id) ? 'selected' : '' }}>{{ kelas.nama_kelas }}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="Boarding">
						<option value="boarding" {{ (request.filter == 'boarding') ? 'selected' : '' }}>Siswa Boarding</option>
						<option value="non-boarding" {{ (request.filter == 'non-boarding') ? 'selected' : '' }}>Siswa Non-Boarding</option>
					</optgroup>
				</select>
			</div>			
		</div>
    <table id="datatable1" class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
					<th>No. Induk</th>
					<th>NISN</th>
          <th>Nama Siswa</th>
          <th>Kelas</th>
          <th>TTL</th>
          <th>L/P</th> 
					<th>Jumlah Tanggungan</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for td in data.results %}
	        <tr>
            <td width="20" align="center"></td>
						<td>{{ td.nis }}</td>
						<td>{{ td.nisn }}</td>
	          <td><a href="siswa.php?aksi=edit&id={{ td.id }}">{{ td.nama }}</a></td>
	          <td>{{ td.kelas.nama_kelas }}</td>
	          <td>{{ (td.tpt_lahir is not empty) ? td.tpt_lahir~',' : '' }} {{ (td.tgl_lahir is not null) ? td.tgl_lahir|date('d/m/Y') : '' }}</td>
	          <td>{{ td.jk }}</td>
						<td align="center">
							{% if td.tagihan_bulanan|length > 0 %}
							<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" data-id="{{ td.id }}">{{ td.tagihan_bulanan|length }}</button>
							{% else %}
							-
							{% endif %}
						</td>
            <td width="100" align="center">
              <a href="siswa.php?aksi=edit&id={{ td.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
              <a href="#" class="tombol-hapus btn btn-danger btn-sm" data-content="Hapus siswa?" data-table="siswa" data-return="siswa.php" data-id="{{ td.id }}" title="Hapus"><i class="fa fa-trash"></i></a>
            </td>
	        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Tanggungan Siswa</h4>
      </div>
      <div class="modal-body">
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th rowspan="2">Jns Pembayaran</th>
							<th colspan="{{ months|length }}">Bulan</th>
						</tr>
						<tr>
							{% for key, bulan in months %}
							<th>{{ bulan }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					
					</tbody>
				</table>
				<hr>
				<div class="well">
					<strong>Keterangan</strong>
					<ul>
						<li>Data yang tampil adalah tagihan pada tahun {{ 'now'|date('Y') }} (tahun sekarang)</li>
						<li>Nilai atau jumlah tagihan tidak muncul manandakan tagihan belum dibayar.</li>
					</ul>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        {#<button type="button" class="btn btn-primary">Send message</button>#}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
 $("#kelas-select").on( 'change', function(){
	 var filter = this.value;
	 var url = "siswa.php";
	 if( filter !== '' ) {
		 	if( filter == 'boarding' || filter == 'non-boarding' ) {
				url = url+"?filter="+filter;
			} else {
				url = url+"?kelas="+filter;
			}
			window.location.replace(url);
			}
 } );
</script>
<script>
	$("#export-btn").on( 'click', function() {
		$.LoadingOverlay("show");
		$.ajax({
			type: "POST",
			url: "_ajax.php",
			data: {aksi: "export", data: "siswa"}
		})
		.done(function(){
			var file_path = "uploads/siswa_export.xlsx";
			var a = document.createElement('A');
			a.href = file_path;
			a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
			document.body.appendChild(a);
			a.click();
			document.body.removeChild(a);
			$.LoadingOverlay("hide");
		});
	});
</script>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var id_siswa = button.data('id') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	var modal = $(this)
	$.ajax({
		type: "POST",
		url: "_ajax.php",
		data: {aksi: "tanggungan_siswa", id_siswa: id_siswa}
	})
	.done(function(response){
		modal.find('.table tbody').html(JSON.parse(response));
	});

})
</script>
{% endblock %}