{% extends "base.html.twig" %}

{% block title %} Tambah/Edit Siswa {% endblock %}

{% block content %} 

{% if notify is defined %}

<div class="alert alert-{{ notify[0] }}">
  <p>{{ notify[1]|raw }}</p>
</div>

{% endif %}

<form action="" method="post">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Kelas</label>
          <div class="col-sm-4">
            <select name="id_kelas" class="form-control" required>
              <option value="">-- Pilih --</option>
              {% for kelas in dataKelas %}
              <option value="{{ kelas.id }}" {{ (request.id_kelas == kelas.id) ? 'selected' : '' }}>{{ kelas.nama_kelas }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Nomor Induk</label>
          <div class="col-sm-6">
            <input type="text" name="nis" class="form-control" value="{{ request.nis }}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">NISN</label>
          <div class="col-sm-6">
            <input type="text" name="nisn" class="form-control" value="{{ request.nisn }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Nama Siswa</label>
          <div class="col-sm-6">
            <input type="text" name="nama" class="form-control" value="{{ request.nama }}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Email</label>
          <div class="col-sm-6">
            <input type="email" name="email" class="form-control" value="{{ request.email }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Jenis Kelamin</label>
          <div class="col-sm-4">
            <select name="jk" class="form-control">
              <option value="">-- Pilih --</option>
              <option value="L" {{ (request.jk == 'L') ? 'selected' : '' }}>Laki-laki</option>
              <option value="P" {{ (request.jk == 'P') ? 'selected' : '' }}>Perempuan</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Tempat/Tgl Lahir</label>
          <div class="col-sm-4">
            <input type="text" name="tpt_lahir" class="form-control" value="{{ request.tpt_lahir }}">
          </div>
          <div class="col-sm-3">
            <input type="text" name="tgl_lahir" class="datepicker form-control" value="{{ request.tgl_lahir }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Agama</label>
          <div class="col-sm-4">
            <input type="text" name="agama" class="form-control" value="{{ request.agama }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Alamat</label>
          <div class="col-sm-4">
            <textarea class="form-control" name="alamat">{{ request.alamat }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Propinsi</label>
          <div class="col-sm-4">
            <select class="form-control select2" id="provinsi" name="provinsi">
              <option value="">-- Pilih provinsi --</option>
              {% for state in states %}
              <option value="{{ state[0] }}" {{ (state[0] == request.provinsi) ? 'selected' : '' }}>{{ state[1] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Kota/Kab.</label>
          <div class="col-sm-4">
            <select class="form-control select2" id="kota" name="kota">
              <option value="">-- Pilih kota/kab. --</option>
              {% for city in cities %}
              <option value="{{ city[2] }} {{ city[3] }}" {{ (city[2]~' '~city[3] == request.kota) ? 'selected' : '' }}>{{ city[2] }} {{ city[3] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Kode Pos</label>
          <div class="col-sm-4">
            <input type="text" name="kodepos" class="form-control" value="{{ user.kodepos }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Nomor Telp./HP</label>
          <div class="col-sm-4">
            <input type="text" name="no_hp" class="form-control" value="{{ request.no_hp }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Tagihan Bulanan</label>
          <div class="col-sm-4">
						{% for jp in jenis_pendapatan %}
						<div class="checkbox">
							<label>
								<input type="checkbox" name="tagihan_bulanan[]" value="{{ jp.id }}" {{ (jp.id in request.tanggungan) ? 'checked' : '' }}>
								{{ jp.nama }}
							</label>
						</div>
						{% endfor %}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" type="submit">Simpan</button>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer"></div>
  </div>
</form>
<!-- /.box -->
{% endblock %}

{% block js %}
<script>
  $(function () {
		$(".select2").select2();
  });
</script>
{% endblock %}