{% extends "base.html.twig" %}

{% block title %} Level User {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %} 

<div class="box">
  <div class="box-header">
		<h3 class="box-title">Gunakan form dibawah untuk menambah level baru.</h3>
	</div>
  <div class="box-body">
      <div class="row">
        <div class="col-sm-12 col-md-4">

          <form action="" method="post">
            <div class="form-group">
              <label>Kode</label>
              <input type="text" id="kode" name="kode" class="form-control" required="required">
            </div>
            <div class="form-group">
              <label>Nama Level</label>
              <input type="text" id="nama" name="nama" class="form-control" required="required">
            </div>
            <button class="btn btn-primary" name="submit-level" type="submit">Simpan</button>
          </form>
        </div>
        <!-- ./col -->
        <div class="col-sm-12 col-md-offset-1 col-md-7">
         
          <table class="table">
            <thead>
              <tr>
                <th>Kode</th>
                <th>Level</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for td in roles %}
								{% if td.id != 1 %}
                <tr>
                  <td>{{ td.kode }}</td>
                  <td>
										<a href="#" class="user_level" data-type="text" data-pk="{{ td.id }}">{{ td.nama }}</a>
									</td>
                  <td><button type="button" class="{% if td.locked == 1 %}disabled{% else %}tombol-hapus{% endif %} btn btn-danger btn-sm" data-content="Hapus data?" data-table="master" data-return="user.php?aksi=level" data-id="{{ td.id }}" title="Hapus" {% if td.locked == 1 %}disabled{% endif %}><i class="fa fa-trash"></i></button></td>
                </tr>
								{% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <div class="box-footer"></div>
</div>

{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script>
$(function(){
		$('.user_level').editable({
				url: '_ajax.php',
				title: 'Nama Level User'
		});
});
</script>


{% endblock %}