{% extends "base.html.twig" %}

{% block title %} Data User {% endblock %}

{% block content %} 
<!-- Default box -->
<div class="box">
  <div class="box-header">
    <a href="user.php?aksi=new" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
  </div>
  <div class="box-body">
    <table id="datatable1" class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Nama</th>
          <th>Username</th>
          <th>Email</th>
          <th>Level</th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for td in data.results %}
					{% if td.id_level != 1 %}
          <tr>
            <td width="20" align="center"></td>
            <td width="200">{{ td.nama }}</td>
            <td>{{ td.username }}</td>
            <td>{{ td.email }}</td>
            <td>{{ app.getMasterNamaTerm(td.id_level) }}</td>
            <td width="150" align="center">
							{% if td.id != app.user.id %}
              <a href="user.php?aksi=edit&id={{ td.id }}" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-pencil"></i></a>
              <a href="#" class="tombol-hapus btn btn-danger btn-sm" data-content="Hapus user?" data-id="{{ td.id }}" data-return="user.php" data-table="users" title="Hapus"><i class="fa fa-trash"></i></a>
							{% endif %}
            </td>
          </tr>
					{% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}
