{% extends "base.html.twig" %}

{% block title %} Tambah/Edit User {% endblock %}

{% block content %} 

<form action="" method="post">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-3">Level User</label>
          <div class="col-sm-4">
            <select name="id_level" class="form-control" required>
              <option value="">-- Pilih --</option>
              {% for level in levels %}
							{% if level.id != 1 %}
              <option value="{{ level.id }}" {{ (request.id_level == level.id) ? 'selected' : '' }}>{{ level.nama|title }}</option>
							{% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Nama</label>
          <div class="col-sm-6">
            <input type="text" name="nama" class="form-control" value="{{ request.nama }}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Email</label>
          <div class="col-sm-6">
            <input type="email" name="email" class="form-control" value="{{ request.email }}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Username</label>
          <div class="col-sm-6">
            <input type="text" name="username" class="form-control" value="{{ request.username }}" required>
          </div>
        </div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Password</label>

					<div class="col-sm-6">
						<input type="password" data-minlength="5" class="form-control" id="inputPassword" placeholder="Minimal 6 karakter" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Ulangi Password</label>

					<div class="col-sm-6">
							<input name="password" type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Password tidak sama" placeholder="" required>
					</div>
				</div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" name="simpan" type="submit">Simpan</button>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer"></div>
  </div>
</form>
<!-- /.box -->
{% endblock %}