<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>{{ option('nama_sekolah') }}</b> Ta. {{ option('tahun_ajaran') }}
	</div>
	<strong>Copyright &copy; {{ now|date('Y') }} <a href="index.php">{{ option('app_name') }}</a>.</strong> All rights
	reserved.
</footer>