  <header class="main-header">
    <!-- Logo -->
    <a href="index.php" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b>WT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">{{ option('app_name') }}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="messages-menu">
            <a href="entry.php?aksi=edit" title="Tambah Transaksi Pembayaran"><i class="fa fa-plus"></i> Tambah Transaksi</a>
          </li>
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ gravatar(app.user.email, {'class': 'user-image'}, true, 160)|raw }}
              <span class="hidden-xs">{{ app.user.nama }} </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                {{ gravatar(app.user.email, {'class': 'img-circle'}, true, 160)|raw }}

                <p>
                  {{ app.user.nama }}
                  <small>{{ app.user.username }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="profile.php" class="btn btn-default btn-flat">Akun Saya</a>
                </div>
                <div class="pull-right">
                  <a href="login.php?action=logout" class="btn btn-default btn-flat">Logout</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
						<a href="login.php?action=logout" title="Logout" onclick="return confirm('Anda yakin ingin logout?')"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>