<ul class="sidebar-menu">
	<li><a href="index.php">
		<i class="fa fa-dashboard"></i><span>Dashboard</span></a>
	</li>
    {% for group in modules if app.user.roles[0] in group.roles %}
    	{% if group.parent_id is null and group.active %}
        	{{ _self.display_tree(group) }}
        {% endif %}
    {% endfor %}
	{#
	<li>
		<a href="#"><i class="fa fa-user"></i> <span>Akun Saya</span>
		<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li><a href="{{ path('profil_index') }}"><i class="fa fa-circle-o"></i> Profil</a></li>
			<li><a href="{{ path('profil_index', {target: 'avatar'}) }}"><i class="fa fa-circle-o"></i> Ganti Avatar</a></li>
			<li><a href="{{ path('password_index') }}"><i class="fa fa-circle-o"></i> Ganti Password</a></li>
			<li><a href="{{ path('logout') }}" onclick="return confirm('Anda yakin ingin logout?')"><i class="fa fa-circle-o"></i> Logout</a></li>
		</ul>
	</li>
	#}
</ul>

{% macro display_tree(level) %}
	<li class="header">{{ level.nama|upper }}</li>
	{# if app.user.roles[0] in child.roles #}
	{% for child in modules if child.parent_id == level.id %}
		<li>
				<a href="{{ child.url }}"><i class="fa fa-{{ (child.icon is not empty) ? child.icon : 'circle-o' }}"></i> <span>{{ child.nama }}</span>
				</a>
		</li>
	{% endfor %}
{% endmacro %} 