{% set query = data_laporan.query %}

<div class="box">
	<div class="box-header">
		<h3 class="box-title">Laporan semua pendapatan</h3>
	</div>
	<div class="box-body">

					<table class="table table-bordered">

						<thead>
							<tr>
								<th rowspan="{{ status_pembayaran|length }}" class="text-center">Tanggal</th>
								{% for jp in jenis_pendapatan %}
								<th colspan="{{ status_pembayaran|length }}" class="text-center">{{ jp.nama }}</th>
								{% endfor %}
							</tr>
							<tr>
								{% for jp in jenis_pendapatan %}
									{% for stat in status_pembayaran %}
									<th class="text-center">{{ stat.nama }}</th>
									{% endfor %}
								{% endfor %}
							</tr>
						</thead>

						<tbody>
							{% for laporan in data.results %}

							<tr>

								<td align="center" width="150">{{ laporan.tanggal|date('d/m/Y') }}</td>
								{% for jp in jenis_pendapatan %}
									{% for stat in status_pembayaran %}
										<td align="right"><span class="{{ (stat.id == 10) ? 'text-red' : 'text-green' }}">{{ price( laporan['pembayaran_'~jp.id]['status_'~stat.id] ) }}</span></td>
									{% endfor %}
								{% endfor %}

							</tr>

							{% endfor %}

						</tbody>

						{#
					<tfoot>
						<tr>
							<th class="text-right">Total</th>
							{% for stat in status_pembayaran %}
								<th class="text-right">{{ price(data_laporan.total['status_'~stat.id]) }}</th>
							{% endfor %}
						</tr>
					</tfoot>
			#}
					</table>

	</div>
	<div class="box-footer no-border"></div>
</div>