{% set query = data.query %}

<div class="box">
	<div class="box-header">
		<h3 class="box-title">Laporan Keuangan: <strong>{{ app.getMasterNamaTerm(request.jenis_pendapatan) }}</strong></h3>
		<div class="pull-right">
			<a href="cetak.php?aksi=lapkas&jenis_laporan={{ query.jenis_laporan }}&jenis_transaksi={{ query.jenis_transaksi }}&id_jenis_pendapatan={{ query.id_jenis_pendapatan }}&tahun={{ query.tahun }}&tgl_mulai={{ query.tgl_mulai }}&tgl_akhir={{ query.tgl_akhir }}&bulan_mulai={{ query.bulan_mulai }}&bulan_akhir={{ query.bulan_akhir }}" target="_blank" class="btn btn-default btn-xs"><i class="fa fa-print"></i> Print</a>
		</div>
	</div>
	<div class="box-body">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Tgl Bayar</th>
					<th>No. Transaksi</th>
					<th>Jenis Transaksi</th>
					<th>Keterangan</th>
					<th>Kas</th>
					<th class="text-center">Jumlah</th>
				</tr>
			</thead>
			{% set no = 1 %}
			{% set total = 0 %}
			<tbody>
				{% set siswa = data.siswa %}
				{% for td in data.results %}
				<tr>
					<td>{{ no }}</td>
					<td>{{ td.tanggal|date('d/m/Y') }}</td>
					<td>{{ printNoTransaksi(td.id) }}</td>
					<td><i class="fa fa-arrow-circle-{{ (td.jenis == 'credit') ? 'o-down' : 'up' }}"></i> {{ (td.jenis == 'credit') ? 'Pembayaran' : 'Pengeluaran' }}</td>
					<td>{{ td.ket }}</td>
					<td>{{ td.kas.nama_akun }}</td>
					<td align="right"><span class="text-{{ (td.jenis == 'credit') ? 'green' : 'red' }}">{{ price(td.jumlah) }}</span></td>
				</tr>
				{% set no = no+1 %}
					{% if td.jenis == 'credit' %}
						{% set total = total+td.jumlah %}
					{% elseif td.jenis == 'debet' %}
						{% set total = total-td.jumlah %}
					{% endif %}
				{% endfor %}

			</tbody>
			<tfoot>
				<tr>
					<th class="text-right" colspan="6">Total</th>
					<th class="text-right">{{ price(total) }}</th>
				</tr>
			</tfoot>
		</table>

	</div>
	<div class="box-footer"></div>
</div>