<h3>
	Laporan keuangan tahun {{ ( request.tahun is not empty ) ? request.tahun : 'now'|date('Y') }}
</h3>

<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		{% for key, tab in data %}
		<li class="{{ (loop.first) ? 'active' : '' }}"><a href="#tab-{{ key }}" data-toggle="tab">{{ tab.bulan }}</a></li>
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for key, tab in data %}
		<div class="{{ (loop.first) ? 'active' : '' }} tab-pane" id="tab-{{ key }}">
			
			<br>
			{% if tab.items|length > 0 %}
			
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Tanggal</th>
							<th>No. Transaksi</th>
							<th>Jenis Transaksi</th>
							<th>Keterangan</th>
							<th>Kas</th>
							<th class="text-center">Jumlah</th>
						</tr>
					</thead>
					{% set no = 1 %}
					{% set total = 0 %}
					<tbody>
						{% set siswa = data.siswa %}
						{% for td in tab.items %}
						<tr>
							<td>{{ no }}</td>
							<td>{{ td.tanggal|date('d/m/Y') }}</td>
							<td>{{ printNoTransaksi(td.id) }}</td>
							<td><i class="fa fa-arrow-circle-{{ (td.jenis == 'credit') ? 'o-down' : 'up' }}"></i> {{ (td.jenis == 'credit') ? 'Pembayaran' : 'Pengeluaran' }}</td>
							<td>{{ td.pembayaran.nama }}</td>
							<td>{{ td.kas.nama_akun }}</td>
							<td align="right"><span class="text-{{ (td.jenis == 'credit') ? 'green' : 'red' }}">{{ price(td.jumlah) }}</span></td>
						</tr>
						{% set no = no+1 %}
							{% if td.jenis == 'credit' %}
								{% set total = total+td.jumlah %}
							{% elseif td.jenis == 'debet' %}
								{% set total = total-td.jumlah %}
							{% endif %}
						{% endfor %}

					</tbody>
					<tfoot>
						<tr>
							<th class="text-right" colspan="6">Total</th>
							<th class="text-right">{{ price(total) }}</th>
						</tr>
					</tfoot>
				</table>
			
			{% else %}
			
				<div class="alert alert-default">
					Tidak ada data...
			</div>
			
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<!-- /.tab-content -->
</div>