<div class="box">
	<div class="box-header">
		<h3 class="box-title">Laporan Pendapatan: <strong>{{ app.getMasterNamaTerm(request.jenis_pendapatan) }}</strong></h3>
	</div>
	<div class="box-body">

		<table class="table table-bordered">

			<thead>
				<tr>
					<th rowspan="{{ status_pembayaran|length }}" class="text-center">Nama Bulan</th>
					<th colspan="{{ status_pembayaran|length }}" class="text-center">Status</th>
				</tr>
				<tr>
					{% for stat in status_pembayaran %}
					<th class="text-center">{{ stat.nama }}</th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for laporan in data_laporan.results %}

				<tr>

					<td align="center" width="150">{{ months[laporan.bulan] }}</td>
					{% for stat in status_pembayaran %}
						<td align="right">{{ price( laporan['status_'~stat.id] ) }}</td>
					{% endfor %}

				</tr>

				{% endfor %}

			</tbody>

			<tfoot>
				<tr>
					<th class="text-right">Total</th>
					{% for stat in status_pembayaran %}
						<th class="text-right">{{ price(data_laporan.total['status_'~stat.id]) }}</th>
					{% endfor %}
				</tr>
			</tfoot>

		</table>

	</div>
	<div class="box-footer"></div>
</div>
