<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %} {{ option('app_name') }} {% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Plugins -->
	<link rel="stylesheet" href="assets/plugins/jQueryUI/jquery-ui.min.css">
	<link rel="stylesheet" href="assets/plugins/jQueryUI/jquery-ui.theme.min.css">
	<link rel="stylesheet" href="assets/dist/css/animate.css">
  <link rel="stylesheet" href="assets/plugins/datatables/dataTables.bootstrap.css">
  <link rel="stylesheet" href="assets/plugins/pnotify/pnotify.custom.min.css">
  <link rel="stylesheet" href="assets/plugins/jquery-confirm/jquery-confirm.min.css">
  <link rel="stylesheet" href="assets/plugins/select2/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="assets/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="assets/dist/css/skins/skin-blue.min.css">

  <style type="text/css">
    .box-body table tr th, .box-body table tr td {
      vertical-align: middle;
    }
  </style>

  {% block css %} {% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  {% include "partials/header.html.twig" %}

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      {% include "partials/navigation.html.twig" %}
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% block pageTitle %} {{ block('title') }} {% endblock %}
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
        {% block breadcrumb %}
        <li class="active">{{ block('title') }}</li>
        {% endblock %}
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      {% block content %} {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include "partials/footer.html.twig" %}

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="assets/plugins/fastclick/fastclick.js"></script>
<!-- Plugins -->
<script src="assets/plugins/jQueryUI/jquery-ui.min.js"></script>
<script src="assets/dist/js/validator.min.js"></script>
<script src="assets/plugins/pnotify/pnotify.custom.min.js"></script>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="assets/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="assets/plugins/select2/select2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
<!-- AdminLTE App -->
<script src="assets/dist/js/app.min.js"></script>
<script>
  $(document).ready(function() {

			$(function () {
				$("body").find("form").validator();
				$("body").find(".datepicker").datepicker({ dateFormat: 'yy-mm-dd' });

// 				var url = window.location;
// 				var element = $('ul.sidebar-menu a').filter(function () {
// 						return this.href == url || url.href.indexOf(this.href) == 0;
// 				});
// 				$(element).parentsUntil('ul.sidebar-menu', 'li').addClass('active');
				
				$(".tombol-hapus").on( 'click', function(){
					var btn = $(this);
					$.confirm({
							title: '',
							content: btn.data('content'),
							buttons: {
									hapus: {
											btnClass: 'btn-red',
											keys: ['enter', 'shift'],
											action: function(){
													$.ajax({
														type: "POST",
														url: "_ajax.php",
														data: {
															'aksi': 'hapus',
															'data': btn.data('table'),
															'id': btn.data('id')
														},
														success: function(response) {
															window.location.replace( btn.data('return') );
														}
													});
											}
									},
									cancel: function () {
											return;
									}
							}
					});
				});	
				
			});
		
      var t = $("body").find('#datatable1').DataTable( {
          "columnDefs": [ {
              "searchable": false,
              "orderable": false,
              "targets": [0, -1]
          }],
          "order": [[ 1, 'asc' ]],
          "pageLength": 25
      } );   
      t.on( 'order.dt search.dt', function () {
          t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
              cell.innerHTML = i+1;
          } );
      } ).draw();
		
  } );
	
</script>

{% block js %} {% endblock %}
	
<script>
$.AdminLTESidebarTweak = {};

$.AdminLTESidebarTweak.options = {
    EnableRemember: true,
    NoTransitionAfterReload: false
    //Removes the transition after page reload.
};

$(function () {
    "use strict";

    $("body").on("collapsed.pushMenu", function(){
        if($.AdminLTESidebarTweak.options.EnableRemember){
            var toggleState = 'opened';
            if($("body").hasClass('sidebar-collapse')){
                toggleState = 'closed';
            }
            document.cookie = "toggleState="+toggleState;
        } 
    });

    if($.AdminLTESidebarTweak.options.EnableRemember){
        var re = new RegExp('toggleState' + "=([^;]+)");
        var value = re.exec(document.cookie);
        var toggleState = (value != null) ? unescape(value[1]) : null;
        if(toggleState == 'closed'){
            if($.AdminLTESidebarTweak.options.NoTransitionAfterReload){
                $("body").addClass('sidebar-collapse hold-transition').delay(100).queue(function(){
                    $(this).removeClass('hold-transition'); 
                });
            }else{
                $("body").addClass('sidebar-collapse');
            }
        }
    } 
});  
</script>

{{ printFlash()|raw }}

</body>
</html>
